!!! XML
%package{ :xmlns => "http://www.idpf.org/2007/opf",
          :version => "3.0",
          "xml:lang" => "en",
          "unique-identifier" => "pub-id" }
  %metadata{"xmlns:dc" => "http://purl.org/dc/elements/1.1/"}
    %dc:title#title= book.info.title.main
    %dc:language#language= "en"
    %meta{:property => "title-type", :refines => "#title"} main
    - book.info.creators.each_with_index do |creator, index|
      %dc:creator{:id => "creator_#{index}" }= "#{creator.first_name} #{creator.last_name}"
      %meta{:property => "file-as", :refines => "#creator_#{index}"}= "#{creator.last_name}, #{creator.first_name}"
      %meta{:property => "role", :refines => "#creator_#{index}", :scheme => "marc:relators"} aut
    - book.info.editions.each do |edition|
      - if edition.name == "EPUB"
        %dc:identifier#pub-id= edition.isbn
    %dc:description= book.info.description_main
    %dc:publisher= book.info.publisher
    -# %dc:language= book.info.languages.first
    %dc:rights= book.info.rights
    %meta{:property => "dcterms:modified"}= Time.now.utc.iso8601
  %manifest
    - book.manifest.each do |item|
      - if item.properties
        %item{ :id => item.id,
               :href => item.href,
               "media-type" => item.media_type,
               :properties => item.properties }
      - else
        %item{ :id => item.id,
               :href => item.href,
               "media-type" => item.media_type }
  %spine{:toc => "toc.ncx"}
    - if book.cover
      %itemref{:idref => "coverpage"}/
    - book.chapters.each do |chapter|
      %itemref{:idref => chapter.idref }/
