!!! XML
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:epub" => "http://www.idpf.org/2007/ops"}
  %head
    %title= book.title
    %link{:href => "assets/stylesheets/epub.css", :rel => "stylesheet"}/
  %body.cover-page
    .cover-image
      %img.cover-image{:src => "assets/images/#{book.cover}"}
    .title-page
      %h1.title= book.info.title.main
      .authors= book.info.author_as_it_appears[0]
      .publisher= "The #{book.info.imprint}, #{book.info.publisher_location}"
      %img.logo{:src => "assets/images/getty_logo.png"}