= wrap_layout :application do
  .cover
    .cover__inner
      %h1.cover__title= data.book.title.short
      - unless data.book.title.subtitle.nil?
        %h2.cover__subtitle= data.book.title.subtitle
      %h3.cover__author= data.book.author_as_it_appears[0]
  .cover__copy
    .cover__copy__inner
      %p= data.book.description_main
      = link_to 'Contents', '/contents.html', :class => "button"
  .cover__colophon
    .cover__colophon__inner
      .colophon__text
        :markdown
          Online collection catalogue published by the J. Paul Getty Museum, <br />
          and licensed under a [Creative Commons Attribution 4.0 International
          License](http://creativecommons.org/licenses/by/4.0/){:rel="license"}
        = link_to "About", "/about.html"
        %span &#124;
        = link_to "Privacy Policy", "http://www.getty.edu/legal/privacy.html", :target => "blank"
        %span &#124;
        = link_to "Terms of Use", "http://www.getty.edu/legal/copyright.html", :target => "blank"
      .colophon__logo
        = tag :img, :src => image_path("getty_logo.svg"), :alt => "Getty Logo"
