= wrap_layout :application do
  .cover
    .cover__inner
      %h1.cover__title= data.book.title.short
      - unless data.book.title.subtitle.nil?
        %h2.cover__subtitle= data.book.title.subtitle
      %h3.cover__author= data.book.author_as_it_appears[0]
  .cover__copy
    .cover__copy__inner
      %p= data.book.description_main
      = link_to 'Contents', '/contents.html', :class => "button"
  .cover__map
    #map.map{:data => {:center => current_page.data.map_center }}
  .cover__highlights
    .cover__highlights__inner
      .cover__highlights__section
        = tag :img, :src => image_path("fig17_detail.jpg"), :alt => "Antioch Excavation"
        %h3 Excavating the Past
        %p
          :markdown
            Several mosaics in the Getty’s collection came from known sites
            in the Roman Empire and survived from antiquity in their original
            architectural contexts, having once decorated villas, baths,
            and churches. Presented here is rich archaeological evidence
            and new material documenting the mosaics’ modern discoveries,
            particularly from excavations in [Villelaure](catalogue/excavations-villelaure/)
            and [Antioch](catalogue/excavations-antioch/).
      .cover__highlights__section
        = tag :img, :src => image_path("gallery_install.jpg")
        %h3 Mosaics on Display
        %p
          :markdown
            This catalogue includes mosaics featured in [*Roman Mosaics across the
            Empire*](http://www.getty.edu/art/exhibitions/roman_mosaics/){:target="_blank"},
            on view at the Getty Villa in 2016. The exhibition showcases ten
            mosaics from the Getty alongside treasures on loan from other collections,
            including LACMA’s  mosaic of Diana and Callisto, which was discovered
            in the same villa in Villelaure as the Getty’s mosaic of Dares and Entellus.
      = link_to 'View the Catalogue', '/catalogue.html', :class => "button"
  .cover__colophon
    .cover__colophon__inner
      .colophon__text
        :markdown
          Online collection catalogue published by the J. Paul Getty Museum, <br />
          and licensed under a [Creative Commons Attribution 4.0 International
          License](http://creativecommons.org/licenses/by/4.0/){:rel="license"}
        = link_to "About", "/about.html"
        %span &#124;
        = link_to "Privacy Policy", "http://www.getty.edu/legal/privacy.html", :target => "blank"
        %span &#124;
        = link_to "Terms of Use", "http://www.getty.edu/legal/copyright.html", :target => "blank"
      .colophon__logo
        = tag :img, :src => image_path("getty_logo.svg"), :alt => "Getty Logo"
