- typology = current_page.data.hierarchy.map {|i| i.values }.flatten.join(" / ")
- code = current_page.data.hierarchy.map {|i| i.keys }.flatten.join(".")
- title = current_page.data.hierarchy.last.values.join
- cat = current_page.data.cat
- entries = cat.respond_to?(:each) ? cat : Array(cat)
- first = entries.first

= wrap_layout :application do
  - if environment? :pdf
    - if current_page.data.force_break == true
      .bleed.force-break{ :data => { :catalogue => current_page.data.cover || first }}
    - else
      .bleed{ :data => { :catalogue => current_page.data.cover || first }}
  .cat-entry
    .cat-entry__breadcrumbs-bar
      .cat-entry__breadcrumbs-bar__inner
        %h4.cat-entry__breadcrumbs-bar__text= typology
    %header.cat-entry__header#page-title
      .cat-entry__image{ :data => { :cat => current_page.data.cover || first }}
      .cat-entry__header__titlebar
        .cat-entry__header__titlebar__inner
          %h1.cat-entry__title= "#{code} #{title}"
    %article.cat-entry__content
      .cat-entry__content__inner
        %h4 Catalogue Entries
        .cat-entry__grid
          - entries.each do |entry|
            - entry_data = manifest_lookup(entry)
            .cat-entry__grid__item{ :data => entry_data }
              %h6.cat-entry__grid__item__number= entry
        = yield
    = partial "partials/cat_details", :locals => { :entries => entries }

