- typology = current_page.data.hierarchy.map {|i| i.values }.flatten.join(" / ")
- code = current_page.data.hierarchy.map {|i| i.keys }.flatten.join(".")
- title = current_page.data.hierarchy.last.values.join
- cat = current_page.data.cat
- entries = cat.respond_to?(:each) ? cat : Array(cat)

= wrap_layout :application do
  - if environment? :pdf
    - if current_page.data.force_break == true
      .bleed.force-break{ :data => { :catalogue => current_page.data.cat }}
    - else
      .bleed{ :data => { :catalogue => current_page.data.cat }}
  .cat-entry
    %header.cat-entry__header#page-title
      = partial "partials/cat_image"
      .cat-entry__header__titlebar
        .cat-entry__header__titlebar__inner
          %h1.cat-entry__title= "#{code} #{title}"
        .cat-entry__breadcrumbs-bar
          %h4.cat-entry__breadcrumbs-bar__text= typology
    %article.cat-entry__content
      .cat-entry__content__inner
        %ul
          - entries.each do |entry|
            %li= entry
        / = partial "partials/cat_details", :locals => { :current_cat => current_cat }
        = yield

