- typology = current_page.data.hierarchy.map {|i| i.values }.flatten.join(" / ")
- code = current_page.data.hierarchy.map {|i| i.keys }.flatten.join(".")
- title = current_page.data.hierarchy.last.values.join
- cat = current_page.data.cat
- entries = current_page.data.cat.respond_to?(:each) ? cat : Array(cat)
- first = entries.first

= wrap_layout :application do
  .cat-intro
    .cat-intro__breadcrumbs-bar
      .cat-intro__breadcrumbs-bar__inner
        %h4.cat-intro__breadcrumbs-bar__text= typology
    .cat-intro__header
      .cat-intro__header__inner
        %h1.cat-intro__title= title
        %h2.cat-intro__title= code
    %article.cat-intro__content
      .cat-intro__content__inner
        = yield
