= wrap_layout :application do
  - if current_page.data.cover
    - image_url = image_path(current_page.data.cover)
    %header.page__cover{:style => "background-image: url('#{image_url}')"}
  %article.page
    %header.page__header
      %h1#page-title.page__header__title= current_page.data.title
      - if current_page.data.subtitle
        %h3.page__header__subtitle= current_page.data.subtitle
      - if current_page.data.author and current_page.data.author_byline == "top"
        - current_page.data.author.each do |author|
          %h3.page__header__author= "#{author.first_name} #{author.last_name}"
    %div.page__content
      = yield
      - if current_page.data.author and current_page.data.author_byline == "bottom"
        %p
          - current_page.data.author.each do |author|
            %span.entry-author= "#{author.first_name} #{author.last_name} <br />#{author.title} <br />#{author.institution}"
