.cat-entry__details__print
  - entry_data = entries.map { |e| catalogue_lookup(e) }
  - entry_data.each do |entry|
    - unless entry.nil?
      .cat-entry__details__print__item
        .cat-entry__details__print__text
          .section.cat-number
            %h2.cat-number= entry.cat_no
          .section.cat-entry__details__print__image
            = image_tag("thumbs/#{entry.cat_no}.jpg")
          .section
            %table
              %tr
                %td
                  %strong.section-title Inventory Number:
                  %span= entry.inv_no
                - unless entry.type.nil?
                  %tr
                    %td
                      %strong.section-title Type:
                      %span= entry.type
                - if entry.date
                  %tr
                    %td
                      %strong.section-title Date:
                      %span= entry.date
                - if entry.place
                  %tr
                    %td
                      %strong.section-title Place of Manufacture or Origin:
                      %span= entry.place
                - if entry.condition
                  %tr
                    %td
                      %strong.section-title Condition:
                      %span= entry.condition
                - else
                  %tr
                    %td
                      %strong.section-title Condition and Fabric:
                      %span= entry.condition_and_fabric
              - unless entry.description.nil?
                %tr
                  %td
                    %strong.section-title Description:
                    = entry.description
              - unless entry.stamp.nil?
                %tr
                  %td
                    %strong.section-title Stamp:
                    = image_tag("stamps/#{entry.stamp}", class: "cat-entry__details__stamp", style: "width: #{entry.stamp_width}cm")
              - unless entry.discus_iconography.nil?
                %tr
                  %td
                    %strong.section-title Discus Iconography:
                    = entry.discus_iconography
              - unless entry.parallels.nil?
                %tr
                  %td
                    %strong.section-title Parallels:
                    = entry.parallels
              - unless entry.provenance.nil?
                %tr
                  %td
                    %strong.section-title Provenance:
                    = entry.provenance
              - unless entry.bibliography.nil?
                %tr
                  %td
                    %strong.section-title Bibliography:
                    = entry.bibliography
              - unless entry.discussion.nil?
                %tr
                  %td
                    %strong.section-title Discussion:
                    = entry.discussion
