%ul.contents
  %li.contents__frontmatter
    %ul
      %li= link_to "Director's Foreward", "foreward.html"
      %li= link_to "Acknowledgments", "acknowledgments.html"
      %li= link_to "Abbreviations and Notes", "abbreviations-and-notes.html"
      %li= link_to "Introduction", "introduction.html"
      %li= link_to "Map", "map.html"
      %li= link_to "Typological Classification", "typological-classification.html"
  %li.contents__backmatter
    %ul
      %li= link_to "Index of Discus Decors", "discus-decors.html"
      %li= link_to "Index of Signatures and Inscriptions", "inscriptions.html"
      %li= link_to "Index of Donors and Vendors", "donors-and-vendors.html"
      %li= link_to "Concordance of Identification Numbers", "concordance.html"
      %li= link_to "Bibliography", "bibliography.html"
      %li= link_to "About the Authors", "authors.html"
      %li= link_to "About", "about.html"
