<ul class="contents">
  <li><%= link_to "Director’s Foreword", "foreword.html" %></li>
  <li><%= link_to "Acknowledgments", "acknowledgments.html" %></li>
  <li><%= link_to "Abbreviations and Notes", "abbreviations-and-notes.html" %></li>
  <li><%= link_to "Introduction", "introduction.html" %></li>
  <li><%= link_to "Map", "map.html" %></li>
  <li><%= link_to "Typological Classification", "typological-classification.html" %></li>
  <li><%= link_to "Catalogue", "catalogue.html" %></li>
    <ul class="contents-catalogue">
      <li><%= link_to "Phoenico-Punic Clay Saucer Lamps", "catalogue/1-4.html" %></li>
      <li><%= link_to "Greek and Hellenistic Clay Lamps", "catalogue/5.html" %></li>
      <li><%= link_to "Roman-Period Clay Lamps", "catalogue/70-71.html" %></li>
      <li><%= link_to "Metal Lamps", "catalogue/612.html" %></li>
    </ul>
  <li><%= link_to "Index of Discus Decors", "discus-decors.html" %></li>
  <li><%= link_to "Index of Signatures and Inscriptions", "inscriptions.html" %></li>
  <li><%= link_to "Index of Donors and Vendors", "donors-and-vendors.html" %></li>
  <li><%= link_to "Concordance of Identification Numbers", "concordance.html" %></li>
  <li><%= link_to "Bibliography", "bibliography.html" %></li>
  <li><%= link_to "About the Authors", "authors.html" %></li>
  <li><%= link_to "About", "about.html" %></li>
</ul>
