<ul class="contents">
  <li class="frontmatter"><%= link_to "Director’s Foreword", "foreword.html" %></li>
  <li class="frontmatter"><%= link_to "Acknowledgments", "acknowledgments.html" %></li>
  <li class="frontmatter"><%= link_to "Abbreviations and Notes to Readers", "abbreviations-and-notes.html" %></li>
  <li><%= link_to "Introduction", "introduction.html" %></li>
  <li class="screen-only"><%= link_to "Map", "map.html" %></li>
  <li class="contents-catalogue"><h3 class="contents-subhead"><%= link_to "Catalogue", "catalogue.html" %></h3>
    <ul>
      <li><%= link_to "Typological Classification", "typological-classification.html" %></li>
    </ul>
    <ol type="I">
      <li><%= link_to "Phoenico-Punic Clay Saucer Lamps", "catalogue/1-4.html" %></li>
      <li><%= link_to "Greek and Hellenistic Clay Lamps", "catalogue/5.html" %></li>
      <li><%= link_to "Roman-Period Clay Lamps", "catalogue/70-71.html" %></li>
      <li><%= link_to "Metal Lamps", "catalogue/612.html" %></li>
    </ol></li>
  <li class="contents-indices"><h3 class="contents-subhead"><%= link_to "Indices", "indices.html" %></h3>
    <ul>
      <li><%= link_to "Index of Iconography", "iconography.html" %></li>
      <li><%= link_to "Index of Signatures and Inscriptions", "inscriptions.html" %></li>
      <li><%= link_to "Index of Donors and Vendors", "donors-and-vendors.html" %></li>
      <li><%= link_to "Index of Place Names", "place-names.html" %></li>
      <li><%= link_to "Concordance of Identification Numbers", "concordance.html" %></li>
    </ul></li>
  <li><%= link_to "Bibliography", "bibliography.html" %></li>
  <li><%= link_to "About the Authors", "authors.html" %></li>
  <li class="screen-only"><%= link_to "About", "about.html" %></li>
</ul>
