---
title: About
layout: page
sort_order: 207
---

<nav class="section-nav">
  <ul>
    <li><a href="#citation-information" class="section-link">Citation Information</a></li>
    <li><a href="#revision-history" class="section-link">Revision History</a></li>
    <li><a href="#downloads" class="section-link">Downloads</a></li>
    <li><a href="#copyright" class="section-link">Copyright</a></li>
  </ul>
</nav>
<p><%= data.book.description_main %></p>
<p><%= data.book.editions[0].additional_description %></p>
<hr />
<div class="smaller-text">
  <h2>Citation Information</h2>
    <blockquote>
      <h4>Chicago</h4>
      <p><%= data.book.creators[0].last_name %>, <%= data.book.creators[0].first_name %>, and <%= data.book.creators[1].first_name %> <%= data.book.creators[1].last_name %>. <em><%= data.book.title.main %></em>. <%= data.book.publisher_location %>: <%= data.book.publisher %>, <%= data.book.pub_date.year %>. <span class="force-wrap"><%= permalink %></span>.</p>
    </blockquote>
    <blockquote>
      <h4>MLA</h4>
      <p><%= data.book.creators[0].last_name %>, <%= data.book.creators[0].first_name %>, and <%= data.book.creators[1].first_name %> <%= data.book.creators[1].last_name %>. <em><%= data.book.title.main %></em>. <%= data.book.publisher_location %>: <%= data.book.publisher_short %>, <%= data.book.pub_date.year %>. <span class="cite-current-date">DD Mon. YYYY</span> <span class="force-wrap">&#60;<span class="force-wrap"><%= permalink %></span>&#62;</span></p>
    </blockquote>
  <h4>Permanent URL</h4>
  <span class="force-wrap"><%= permalink %></span>
  <hr />
  <h2>Revision History</h2>
  <%= partial "partials/revision_history" %>
  <hr />
  <h2>Downloads</h2>
  <%= partial "partials/downloads" %>
  <%= partial "partials/copyright_license" %>
  <%= partial "partials/publisher_team" %>
  <%= partial "partials/library_of_congress_data" %>
  <hr />
  <div class="illustration-credits">Illustration Credits TK</div>
</div>
