---
title: Index of Iconography
layout: index
sort_order: 201
---

References are to catalogue numbers.

<ol type="I" markdown="0" class="discus-index">
  <li><span class="list-number">I.</span> Religion and Myth
    <ol>
      <li><span class="list-number">I.a.</span> Roman Versions of the Olympian Gods, Their Cults, and Followers
        <ol>
          <li><span class="list-number">I.a.1.</span> Apollo <%= link_to "212", "catalogue/208-23.html#212" %>, <%= link_to "363", "catalogue/360-74.html#363" %>, <%= link_to "368", "catalogue/360-74.html#368" %>, <%= link_to "389", "catalogue/389-93.html#389" %>, <%= link_to "411", "catalogue/402-17.html#411" %></li>
          <li><span class="list-number">I.a.2.</span> Bacchus and his followers
            <ol>
              <li><span class="list-number">I.a.2(1).</span> Bacchus, <%= link_to "92", "catalogue/87-117.html#92" %>, <%= link_to "112", "catalogue/87-117.html#112" %>, <%= link_to "121", "catalogue/119-29.html#121" %>, <%= link_to "126", "catalogue/119-29.html#126" %>, <%= link_to "149", "catalogue/147-60.html#149" %>, <%= link_to "239", "catalogue/239-42.html#239" %>, <%= link_to "370", "catalogue/360-74.html#370" %>, <%= link_to "392", "catalogue/389-93.html#392" %>(?), <%= link_to "428", "catalogue/428.html#428" %>, <%= link_to "444", "catalogue/442-48.html#444" %>(?), <%= link_to "490", "catalogue/490-91.html#490" %>(?), <%= link_to "600–1", "catalogue/586-609.html" %>(?)</li>
              <li><span class="list-number">I.a.2(2).</span> Silenus, <%= link_to "85–86", "catalogue/85-86.html" %>, <%= link_to "333", "catalogue/327-37.html#333" %>, <%= link_to "588", "catalogue/586-609.html#588" %> (lamp in the shape of), <%= link_to "626", "catalogue/614-30.html#626a" %>(?)</li>
              <li><span class="list-number">I.a.2(3).</span> Pan, <%= link_to "414", "catalogue/402-17.html#414" %></li>
              <li><span class="list-number">I.a.2(4).</span> Maenads, <%= link_to "106", "catalogue/87-117.html#106" %>, <%= link_to "175", "catalogue/166-207.html#175" %>(?), <%= link_to "428", "catalogue/428.html#428" %>, <%= link_to "490", "catalogue/490-91.html#490" %>, <%= link_to "600", "catalogue/586-609.html#600" %></li>
              <li><span class="list-number">I.a.2(5).</span> Satyrs, <%= link_to "111", "catalogue/87-117.html#111" %>, <%= link_to "235", "catalogue/224-38.html#235" %>, <%= link_to "283", "catalogue/283-302.html#283" %>(?), <%= link_to "381", "catalogue/376-88.html#381" %>, <%= link_to "490", "catalogue/490-91.html#490" %>(?), <%= link_to "600", "catalogue/586-609.html#600" %>(?)</li>
              <li><span class="list-number">I.a.2(6).</span> Nymph, <%= link_to "414", "catalogue/402-17.html#414" %></li>
              <li><span class="list-number">I.a.2(7).</span> Faun, <%= link_to "320", "catalogue/317-22.html#320" %></li>
            </ol>
          </li>
          <li><span class="list-number">I.a.3.</span> Diana, <%= link_to "296", "catalogue/283-302.html#296" %>, <%= link_to "373", "catalogue/360-74.html#373" %>, <%= link_to "385", "catalogue/376-88.html#385" %></li>
          <li><span class="list-number">I.a.4.</span> Juno, <%= link_to "166", "catalogue/166-207.html#166" %>, <%= link_to "409", "catalogue/402-17.html#409" %></li>
          <li><span class="list-number">I.a.5.</span> Jupiter, <%= link_to "154", "catalogue/147-60.html#154" %> (on handle), <%= link_to "166", "catalogue/166-207.html#166" %>, <%= link_to "260", "catalogue/248-65.html#260" %>, <%= link_to "325", "catalogue/324-25.html#325" %>, <%= link_to "364", "catalogue/360-74.html#364" %>, <%= link_to "402", "catalogue/402-17.html#402" %>, <%= link_to "409", "catalogue/402-17.html#409" %>, <%= link_to "439", "catalogue/435-40.html#439" %>, <%= link_to "582", "catalogue/582-85.html#582" %></li>
          <li><span class="list-number">I.a.6.</span> Mars, <%= link_to "131", "catalogue/130-42.html#131" %>, <%= link_to "170", "catalogue/166-207.html#170" %>, <%= link_to "201", "catalogue/166-207.html#201" %>, <%= link_to "253–54", "catalogue/248-65.html" %>, <%= link_to "394–95", "catalogue/394-95.html" %></li>
          <li><span class="list-number">I.a.7.</span> Mercury, <%= link_to "99", "catalogue/87-117.html#99" %>, <%= link_to "115", "catalogue/87-117.html#115" %>, <%= link_to "137", "catalogue/130-42.html#137" %>, <%= link_to "166", "catalogue/166-207.html#166" %>, <%= link_to "369", "catalogue/360-74.html#369" %>, <%= link_to "484", "catalogue/482-84.html#484" %>, <%= link_to "582–83", "catalogue/582-85.html" %></li>
          <li><span class="list-number">I.a.8.</span> Minerva, <%= link_to "166", "catalogue/166-207.html#166" %>(?), <%= link_to "193", "catalogue/166-207.html#193" %>, <%= link_to "582", "catalogue/582-85.html#582" %></li>
          <li><span class="list-number">I.a.9.</span> Neptune, <%= link_to "221", "catalogue/208-23.html#221" %></li>
          <li><span class="list-number">I.a.10.</span> Thetis, <%= link_to "437", "catalogue/435-40.html#437" %></li>
          <li><span class="list-number">I.a.11.</span> Venus, <%= link_to "263", "catalogue/248-65.html#263" %>, <%= link_to "306", "catalogue/305-6.html#306" %>, <%= link_to "584", "catalogue/582-85.html#584" %>(?)</li>
        </ol>
      </li>
      <li><span class="list-number">I.b.</span> Minor Deities
        <ol>
          <li><span class="list-number">I.b.1.</span> Cupid, <%= link_to "88", "catalogue/87-117.html#88" %>, <%= link_to "100", "catalogue/87-117.html#100" %>, <%= link_to "110", "catalogue/87-117.html#110" %>, <%= link_to "119", "catalogue/119-29.html#119" %>, <%= link_to "124", "catalogue/119-29.html#124" %>, <%= link_to "138", "catalogue/130-42.html#138" %>, <%= link_to "142", "catalogue/130-42.html#142" %>, <%= link_to "171", "catalogue/166-207.html#171" %>, <%= link_to "174", "catalogue/166-207.html#174" %>, <%= link_to "190–91", "catalogue/166-207.html" %>, <%= link_to "200", "catalogue/166-207.html#200" %>, <%= link_to "215", "catalogue/208-23.html#215" %>, <%= link_to "251", "catalogue/248-65.html#251" %>, <%= link_to "273", "catalogue/273-74.html#273" %>, <%= link_to "280–81", "catalogue/278-82.html" %>, <%= link_to "332", "catalogue/327-37.html#332" %>, <%= link_to "335", "catalogue/327-37.html#335" %>, <%= link_to "358", "catalogue/357-59.html#358" %>, <%= link_to "384", "catalogue/376-88.html#384" %>, <%= link_to "386", "catalogue/376-88.html#386" %>, <%= link_to "392", "catalogue/389-93.html#392" %>, <%= link_to "398", "catalogue/396-401.html#398" %>, <%= link_to "408", "catalogue/402-17.html#408" %>, <%= link_to "427", "catalogue/418-27.html#427" %>, <%= link_to "559", "catalogue/558-68.html#559" %>, <%= link_to "591", "catalogue/586-609.html#591" %>(?)</li>
          <li><span class="list-number">I.b.2.</span> Dioscuri, <%= link_to "298", "catalogue/283-302.html#298" %>, <%= link_to "311", "catalogue/307-11.html#311" %></li>
          <li><span class="list-number">I.b.3.</span> Hecate, <%= link_to "563", "catalogue/558-68.html#563" %></li>
          <li><span class="list-number">I.b.4.</span> Lares, <%= link_to "300", "catalogue/283-302.html#300" %>, <%= link_to "310", "catalogue/307-11.html#310" %></li>
          <li><span class="list-number">I.b.5.</span> Morpheus, <%= link_to "166", "catalogue/166-207.html#166" %></li>
          <li><span class="list-number">I.b.6.</span> Sol/Luna, <%= link_to "153", "catalogue/147-60.html#153" %>, <%= link_to "166", "catalogue/166-207.html#166" %>, <%= link_to "249", "catalogue/248-65.html#249" %>, <%= link_to "299", "catalogue/283-302.html#299" %>, <%= link_to "563", "catalogue/558-68.html#563" %></li>
          <li><span class="list-number">I.b.7.</span> Triton, <%= link_to "197", "catalogue/166-207.html#197" %></li>
          <li><span class="list-number">I.b.8.</span> Victory, <%= link_to "98", "catalogue/87-117.html#98" %>, <%= link_to "116", "catalogue/87-117.html#116" %>, <%= link_to "214", "catalogue/208-23.html#214" %>, <%= link_to "222–23", "catalogue/208-23.html" %>, <%= link_to "224", "catalogue/224-38.html#224" %>, <%= link_to "248", "catalogue/248-65.html#248" %>, <%= link_to "261", "catalogue/248-65.html#261" %></li>
        </ol>
      </li>
      <li><span class="list-number">I.c.</span> Oriental Cults
        <ol>
          <li><span class="list-number">I.c.1.</span> Egyptian cults
            <ol>
              <li><span class="list-number">I.c.1(1).</span> Anubis, <%= link_to "361", "catalogue/360-74.html#361" %></li>
              <li><span class="list-number">I.c.1(2).</span> Isis, <%= link_to "166", "catalogue/166-207.html#166" %>, <%= link_to "361", "catalogue/360-74.html#361" %>, <%= link_to "488", "catalogue/487-89.html#488" %></li>
              <li><span class="list-number">I.c.1(3).</span> Serapis, <%= link_to "155", "catalogue/147-60.html#155" %> (on handle), <%= link_to "315–16", "catalogue/315-16.html" %>, <%= link_to "348", "catalogue/348.html#348" %>, <%= link_to "374", "catalogue/360-74.html#374" %>, <%= link_to "439", "catalogue/435-40.html#439" %> (on handle)</li>
              <li><span class="list-number">I.c.1(4).</span> Basileion, <%= link_to "361", "catalogue/360-74.html#361" %>, <%= link_to "488", "catalogue/487-89.html#488" %></li>
              <li><span class="list-number">I.c.1(5).</span> Calathus, <%= link_to "155", "catalogue/147-60.html#155" %> (on handle), <%= link_to "374", "catalogue/360-74.html#374" %>, <%= link_to "439", "catalogue/435-40.html#439" %> (on handle)</li>
              <li><span class="list-number">I.c.1(6).</span> Modius, <%= link_to "315–16", "catalogue/315-16.html" %>, <%= link_to "348", "catalogue/348.html#348" %></li>
            </ol>
          </li>
          <li><span class="list-number">I.c.2.</span> Asian cults
            <ol>
              <li><span class="list-number">I.c.2(1).</span> Attis, <%= link_to "421", "catalogue/418-27.html#421" %></li>
              <li><span class="list-number">I.c.2(2).</span> Cybele, <%= link_to "390", "catalogue/389-93.html#390" %></li>
            </ol>
          </li>
        </ol>
      </li>
      <li><span class="list-number">I.d.</span> African Cult
        <ol>
          <li><span class="list-number">I.d.1.</span> Africa, <%= link_to "286", "catalogue/283-302.html#286" %></li>
          <li><span class="list-number">I.d.2.</span> Tanit sign, <%= link_to "266", "catalogue/266.html#266" %></li>
        </ol>
      </li>
      <li><span class="list-number">I.e.</span> Christian Cult
        <ol>
          <li><span class="list-number">I.e.1.</span> Angels, <%= link_to "492", "catalogue/492-500.html#492" %></li>
          <li><span class="list-number">I.e.2.</span> Apostle, <%= link_to "493", "catalogue/492-500.html#493" %>(?), <%= link_to "494", "catalogue/492-500.html#494" %></li>
          <li><span class="list-number">I.e.3.</span> Chi-Rho, <%= link_to "492", "catalogue/492-500.html#492" %>, <%= link_to "495", "catalogue/492-500.html#495" %>, <%= link_to "504", "catalogue/503-4.html#504" %></li>
          <li><span class="list-number">I.e.4.</span> Christ, <%= link_to "492", "catalogue/492-500.html#492" %>, <%= link_to "493", "catalogue/492-500.html#493" %>(?)</li>
          <li><span class="list-number">I.e.5.</span> Christian worshipper, <%= link_to "504", "catalogue/503-4.html#504" %></li>
          <li><span class="list-number">I.e.6.</span> Christogram, <%= link_to "504", "catalogue/503-4.html#504" %></li>
          <li><span class="list-number">I.e.7.</span> Cross-monogram, <%= link_to "496", "catalogue/492-500.html#496" %>, Greek cross, <%= link_to "534", "catalogue/524-41.html#534" %>, <%= link_to "539", "catalogue/524-41.html#539" %>, <%= link_to "576", "catalogue/573-76.html#576" %></li>
        </ol>
      </li>
      <li><span class="list-number">I.f.</span> Jewish Cult
        <ol>
          <li><span class="list-number">I.f.1. Menorah</span> <%= link_to "524", "catalogue/524-41.html#524" %></li>
        </ol>
      </li>
      <li><span class="list-number">I.g.</span> Myth and Legend
        <ol>
          <li><span class="list-number">I.g.1.</span> Mythological figures
            <ol>
              <li><span class="list-number">I.g.1(1).</span> Acheloüs, <%= link_to "463", "catalogue/463-71.html#463" %></li>
              <li><span class="list-number">I.g.1(2).</span> Achilles, <%= link_to "437", "catalogue/435-40.html#437" %></li>
              <li><span class="list-number">I.g.1(3).</span> Actaeon, <%= link_to "169", "catalogue/166-207.html#169" %></li>
              <li><span class="list-number">I.g.1(4).</span> Amazon, <%= link_to "225", "catalogue/224-38.html#225" %></li>
              <li><span class="list-number">I.g.1(5).</span> Centaur, <%= link_to "101", "catalogue/87-117.html#101" %>, <%= link_to "434", "catalogue/433-34.html#434" %></li>
              <li><span class="list-number">I.g.1(6).</span> Chiron, <%= link_to "434", "catalogue/433-34.html#434" %></li>
              <li><span class="list-number">I.g.1(7).</span> Curtius, <%= link_to "105", "catalogue/87-117.html#105" %></li>
              <li><span class="list-number">I.g.1(8).</span> Europa <%= link_to "260", "catalogue/248-65.html#260" %>, <%= link_to "364", "catalogue/360-74.html#364" %>, <%= link_to "439", "catalogue/435-40.html#439" %></li>
              <li><span class="list-number">I.g.1(9).</span> Eurystheus <%= link_to "308", "catalogue/307-11.html#308" %>, <%= link_to "396", "catalogue/396-401.html#396" %></li>
              <li><span class="list-number">I.g.1(10).</span> Hercules, <%= link_to "122", "catalogue/119-29.html#122" %>, <%= link_to "192", "catalogue/166-207.html#192" %>, <%= link_to "308", "catalogue/307-11.html#308" %>, <%= link_to "396", "catalogue/396-401.html#396" %>; Hercules’ club, <%= link_to "110", "catalogue/87-117.html#110" %>, <%= link_to "200", "catalogue/166-207.html#200" %>, <%= link_to "215", "catalogue/208-23.html#215" %>, <%= link_to "427", "catalogue/418-27.html#427" %>; Hercules knot, <%= link_to "615", "catalogue/614-30.html#615" %></li>
              <li><span class="list-number">I.g.1(11).</span> Leda, <%= link_to "358", "catalogue/357-59.html#358" %></li>
              <li><span class="list-number">I.g.1(12).</span> Medusa <%= link_to "145", "catalogue/143-46-bis.html#145" %>, <%= link_to "158", "catalogue/147-60.html#158" %>, <%= link_to "161", "catalogue/161-65.html#161" %>, <%= link_to "173", "catalogue/166-207.html#173" %>, <%= link_to "391", "catalogue/389-93.html#391" %></li>
              <li><span class="list-number">I.g.1(13).</span> Meleager <%= link_to "371–72", "catalogue/360-74.html" %></li>
              <li><span class="list-number">I.g.1(14).</span> Muse (?), <%= link_to "186", "catalogue/166-207.html#186" %></li>
              <li><span class="list-number">I.g.1(15).</span> Neoptolemus, <%= link_to "219", "catalogue/208-23.html#219" %></li>
              <li><span class="list-number">I.g.1(16).</span> Omphale, <%= link_to "427", "catalogue/418-27.html#427" %></li>
              <li><span class="list-number">I.g.1(17).</span> Orpheus, <%= link_to "425", "catalogue/418-27.html#425" %></li>
              <li><span class="list-number">I.g.1(18).</span> Philoctetes, <%= link_to "219", "catalogue/208-23.html#219" %></li>
              <li><span class="list-number">I.g.1(19).</span> Polyphemus, <%= link_to "86", "catalogue/85-86.html#86" %></li>
              <li><span class="list-number">I.g.1(20).</span> Psyche, <%= link_to "171", "catalogue/166-207.html#171" %></li>
              <li><span class="list-number">I.g.1(21).</span> Rhea Silvia, <%= link_to "170", "catalogue/166-207.html#170" %></li>
              <li><span class="list-number">I.g.1(22).</span> Ulysses, <%= link_to "86", "catalogue/85-86.html#86" %>, <%= link_to "209", "catalogue/208-23.html#209" %>, <%= link_to "213", "catalogue/208-23.html#213" %>, <%= link_to "219", "catalogue/208-23.html#219" %>, <%= link_to "309", "catalogue/307-11.html#309" %></li>
            </ol>
          </li>
          <li><span class="list-number">I.g.2.</span> Mythological animals
            <ol>
              <li><span class="list-number">I.g.2(1).</span> Basilisk, <%= link_to "492", "catalogue/492-500.html#492" %></li>
              <li><span class="list-number">I.g.2(2).</span> Dragon, <%= link_to "492", "catalogue/492-500.html#492" %></li>
              <li><span class="list-number">I.g.2(3).</span> Griffin, <%= link_to "326", "catalogue/326.html#326" %>, <%= link_to "340", "catalogue/339-43.html#340" %>, <%= link_to "368", "catalogue/360-74.html#368" %></li>
              <li><span class="list-number">I.g.2(4).</span> Hydra of Lerna, <%= link_to "396", "catalogue/396-401.html#396" %></li>
              <li><span class="list-number">I.g.2(5).</span> Pegasus, <%= link_to "176", "catalogue/166-207.html#176" %>, <%= link_to "279", "catalogue/278-82.html#279" %>, <%= link_to "321", "catalogue/317-22.html#321" %></li>
              <li><span class="list-number">I.g.2(6).</span> Sea horse, <%= link_to "221", "catalogue/208-23.html#221" %></li>
              <li><span class="list-number">I.g.2(7).</span> Sea monster (hippocamp), <%= link_to "90", "catalogue/87-117.html#90" %>, <%= link_to "376–77", "catalogue/376-88.html" %>, <%= link_to "399", "catalogue/396-401.html#399" %>, <%= link_to "472", "catalogue/472-73.html#472" %></li>
              <li><span class="list-number">I.g.2(8).</span> Stymphalian Birds, <%= link_to "308", "catalogue/307-11.html#308" %></li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li><span class="list-number">II.</span> Historical Personages
    <ol>
      <li><span class="list-number">II.a.</span> Emperors
        <ol>
          <li><span class="list-number">II.a.1.</span> Augustus, <%= link_to "80", "catalogue/76-84.html#80" %></li>
          <li><span class="list-number">II.a.2.</span> Domitian, <%= link_to "301", "catalogue/283-302.html#301" %></li>
          <li><span class="list-number">II.a.3.</span> Hadrian, <%= link_to "211", "catalogue/208-23.html#211" %>, <%= link_to "289", "catalogue/283-302.html#289" %>(?)</li>
        </ol>
      </li>
      <li><span class="list-number">II.b.</span> Other
        <ol>
          <li><span class="list-number">II.b.1.</span> Antinous, <%= link_to "344", "catalogue/344-45.html#344" %>, <%= link_to "424", "catalogue/418-27.html#424" %></li>
        </ol>
      </li>
    </ol>
  </li>
  <li><span class="list-number">III.</span> Daily Life
    <ol>
      <li><span class="list-number">III.a.</span> Genre Scenes and Things
        <ol>
          <li><span class="list-number">III.a.1.</span> Bucolic and rural
            <ol>
              <li><span class="list-number">III.a.1(1).</span> Flock of goats, <%= link_to "129", "catalogue/119-29.html#129" %>, <%= link_to "242", "catalogue/239-42.html#242" %></li>
              <li><span class="list-number">III.a.1(2).</span> Goatherd, <%= link_to "242", "catalogue/239-42.html#242" %></li>
              <li><span class="list-number">III.a.1(3).</span> Temple, <%= link_to "239", "catalogue/239-42.html#239" %>, <%= link_to "466", "catalogue/463-71.html#466" %>(?), <%= link_to "467", "catalogue/463-71.html#467" %>(?), <%= link_to "486", "catalogue/485-86.html#486" %>, <%= link_to "584", "catalogue/582-85.html#584" %> (lamp in the shape of)</li>
              <li><span class="list-number">III.a.1(4).</span> Temple in Alexandrian landscape, <%= link_to "486", "catalogue/485-86.html#486" %></li>
            </ol>
          </li>
          <li><span class="list-number">III.a.2.</span> Maritime scenes
            <ol>
              <li><span class="list-number">III.a.2(1).</span> Boats and ships, <%= link_to "179", "catalogue/166-207.html#179" %>, <%= link_to "259", "catalogue/248-65.html#259" %>, <%= link_to "309", "catalogue/307-11.html#309" %>, <%= link_to "383–84", "catalogue/376-88.html" %>, <%= link_to "420", "catalogue/418-27.html#420" %>, <%= link_to "465–67", "catalogue/463-71.html" %>, <%= link_to "608", "catalogue/586-609.html#608" %> (lamp in the shape of), <%= link_to "614", "catalogue/614-30.html#614" %> </li>
              <li><span class="list-number">III.a.2(2).</span> Harbor, <%= link_to "464–67", "catalogue/463-71.html" %></li>
            </ol>
          </li>
          <li><span class="list-number">III.a.3.</span> Domestic scenes
            <ol>
              <li><span class="list-number">III.a.3(1).</span> Fishermen, <%= link_to "123", "catalogue/119-29.html#123" %>, <%= link_to "180", "catalogue/166-207.html#180" %>, <%= link_to "259", "catalogue/248-65.html#259" %>, <%= link_to "290", "catalogue/283-302.html#290" %>, <%= link_to "466–67", "catalogue/463-71.html" %>, <%= link_to "486", "catalogue/485-86.html#486" %></li>
              <li><span class="list-number">III.a.3(2).</span> Head of an African man, <%= link_to "586", "catalogue/586-609.html#586" %> (lamp in the shape of), <%= link_to "602", "catalogue/586-609.html#602" %> (lamp in the shape of), <%= link_to "603", "catalogue/586-609.html#603" %> (lamp in the shape of), <%= link_to "604", "catalogue/586-609.html#604" %> (lamp in the shape of)</li>
              <li><span class="list-number">III.a.3(3).</span> Human head, <%= link_to "600", "catalogue/586-609.html#600" %> (lamp in the shape of)</li>
              <li><span class="list-number">III.a.3(4).</span> Hunting, <%= link_to "96", "catalogue/87-117.html#96" %></li>
              <li><span class="list-number">III.a.3(5).</span> Male head, <%= link_to "610", "catalogue/610-11.html#610" %> (lamp in the shape of), <%= link_to "612", "catalogue/612.html#612" %> (lamp in the shape of)</li>
              <li><span class="list-number">III.a.3(6).</span> Man and woman killing fowl to cook, <%= link_to "410", "catalogue/402-17.html#410" %></li>
              <li><span class="list-number">III.a.3(7).</span> Man attacked by bear, <%= link_to "393", "catalogue/389-93.html#393" %></li>
              <li><span class="list-number">III.a.3(8).</span> Man carrying a pole and a bag, <%= link_to "139", "catalogue/130-42.html#139" %></li>
              <li><span class="list-number">III.a.3(9).</span> Man carrying a pole with basket and rabbit tied to it, <%= link_to "204", "catalogue/166-207.html#204" %></li>
              <li><span class="list-number">III.a.3(10).</span> Man near altar, <%= link_to "382", "catalogue/376-88.html#382" %></li>
              <li><span class="list-number">III.a.3(11).</span> Man on horseback, <%= link_to "252 bis", "catalogue/248-65.html#252-bis" %></li>
              <li><span class="list-number">III.a.3(12).</span> Man playing aulos near altar, <%= link_to "196", "catalogue/166-207.html#196" %>, <%= link_to "287", "catalogue/283-302.html#287" %>(?)</li>
              <li><span class="list-number">III.a.3(13).</span> Man reading book scroll, <%= link_to "587", "catalogue/586-609.html#587" %></li>
              <li><span class="list-number">III.a.3(14).</span> Man standing, <%= link_to "537", "catalogue/524-41.html#537" %></li>
              <li><span class="list-number">III.a.3(15).</span> Man walking, <%= link_to "480", "catalogue/477-81.html#480" %></li>
              <li><span class="list-number">III.a.3(16).</span> Man walking with donkey, <%= link_to "252", "catalogue/248-65.html#252" %></li>
              <li><span class="list-number">III.a.3(17).</span> Military rider, <%= link_to "95", "catalogue/87-117.html#95" %></li>
              <li><span class="list-number">III.a.3(18).</span> Nude women at water basin, <%= link_to "256", "catalogue/248-65.html#256" %></li>
              <li><span class="list-number">III.a.3(19).</span> Sacrifice, <%= link_to "116", "catalogue/87-117.html#116" %>, <%= link_to "136", "catalogue/130-42.html#136" %></li>
              <li><span class="list-number">III.a.3(20).</span> Sandaled foot/feet, <%= link_to "598", "catalogue/586-609.html#598" %> (lamp in the shape of), <%= link_to "599", "catalogue/586-609.html#599" %> (lamp in the shape of)</li>
              <li><span class="list-number">III.a.3(21).</span> Woman playing a harp, <%= link_to "590", "catalogue/586-609.html#590" %></li>
            </ol>
          </li>
          <li><span class="list-number">III.a.4.</span> Things
            <ol>
              <li><span class="list-number">III.a.4(1).</span> Alabastron, <%= link_to "280–81", "catalogue/278-82.html" %></li>
              <li><span class="list-number">III.a.4(2).</span> Altar, <%= link_to "162", "catalogue/161-65.html#162" %>, <%= link_to "166", "catalogue/166-207.html#166" %>, <%= link_to "196", "catalogue/166-207.html#196" %>, <%= link_to "231", "catalogue/224-38.html#231" %>, <%= link_to "251", "catalogue/248-65.html#251" %>, <%= link_to "287", "catalogue/283-302.html#287" %>(?), <%= link_to "300", "catalogue/283-302.html#300" %>, <%= link_to "310", "catalogue/307-11.html#310" %>, <%= link_to "382", "catalogue/376-88.html#382" %>, <%= link_to "422", "catalogue/418-27.html#422" %>, <%= link_to "484", "catalogue/482-84.html#484" %>(?), <%= link_to "582", "catalogue/582-85.html#582" %> (lamp in the shape of)</li>
              <li><span class="list-number">III.a.4(3).</span> Amphora, <%= link_to "101", "catalogue/87-117.html#101" %>, <%= link_to "303", "catalogue/303-4.html#303" %>, <%= link_to "339", "catalogue/339-43.html#339" %></li>
              <li><span class="list-number">III.a.4(4).</span> Arch, <%= link_to "464", "catalogue/463-71.html#464" %>, <%= link_to "466", "catalogue/463-71.html#466" %></li>
              <li><span class="list-number">III.a.4(5).</span> Aulos, <%= link_to "196", "catalogue/166-207.html#196" %>, <%= link_to "235", "catalogue/224-38.html#235" %>, <%= link_to "287", "catalogue/283-302.html#287" %></li>
              <li><span class="list-number">III.a.4(6).</span> Basket, <%= link_to "95", "catalogue/87-117.html#95" %>, <%= link_to "195", "catalogue/166-207.html#195" %>, <%= link_to "204", "catalogue/166-207.html#204" %>, <%= link_to "290", "catalogue/283-302.html#290" %>, <%= link_to "537", "catalogue/524-41.html#537" %>(?)</li>
              <li><span class="list-number">III.a.4(7).</span> Bed, <%= link_to "170", "catalogue/166-207.html#170" %>, <%= link_to "181–83", "catalogue/166-207.html" %>, <%= link_to "203", "catalogue/166-207.html#203" %>, <%= link_to "220", "catalogue/208-23.html#220" %>, <%= link_to "262", "catalogue/248-65.html#262" %>, <%= link_to "334", "catalogue/327-37.html#334" %>, <%= link_to "345", "catalogue/344-45.html#345" %>, <%= link_to "353", "catalogue/349-54.html#353" %>, <%= link_to "355–56", "catalogue/355-56.html" %>, <%= link_to "491", "catalogue/490-91.html#491" %></li>
              <li><span class="list-number">III.a.4(8).</span> Book scroll, <%= link_to "318", "catalogue/317-22.html#318" %>, <%= link_to "587", "catalogue/586-609.html#587" %></li>
              <li><span class="list-number">III.a.4(9).</span> Caduceus, <%= link_to "115", "catalogue/87-117.html#115" %>, <%= link_to "137", "catalogue/130-42.html#137" %>, <%= link_to "166", "catalogue/166-207.html#166" %>, <%= link_to "329", "catalogue/327-37.html#329" %>, <%= link_to "361", "catalogue/360-74.html#361" %>, <%= link_to "369", "catalogue/360-74.html#369" %>, <%= link_to "484", "catalogue/482-84.html#484" %>, <%= link_to "582–83", "catalogue/582-85.html" %></li>
              <li><span class="list-number">III.a.4(10).</span> <em>Cantharus</em>, <%= link_to "92", "catalogue/87-117.html#92" %>, <%= link_to "112", "catalogue/87-117.html#112" %>, <%= link_to "121", "catalogue/119-29.html#121" %>, <%= link_to "239", "catalogue/239-42.html#239" %>, <%= link_to "250", "catalogue/248-65.html#250" %>, <%= link_to "257", "catalogue/248-65.html#257" %>, <%= link_to "332", "catalogue/327-37.html#332" %></li>
              <li><span class="list-number">III.a.4(11).</span> Causeway, <%= link_to "464", "catalogue/463-71.html#464" %></li>
              <li><span class="list-number">III.a.4(12).</span> Chair, <%= link_to "264", "catalogue/248-65.html#264" %></li>
              <li><span class="list-number">III.a.4(13).</span> Chiton, <%= link_to "193", "catalogue/166-207.html#193" %></li>
              <li><span class="list-number">III.a.4(14).</span> Cloak, <%= link_to "105", "catalogue/87-117.html#105" %>, <%= link_to "300", "catalogue/283-302.html#300" %>, <%= link_to "310", "catalogue/307-11.html#310" %></li>
              <li><span class="list-number">III.a.4(15).</span> Club, <%= link_to "169", "catalogue/166-207.html#169" %></li>
              <li><span class="list-number">III.a.4(16).</span> Column, <%= link_to "239", "catalogue/239-42.html#239" %>, <%= link_to "263", "catalogue/248-65.html#263" %>, <%= link_to "466–67", "catalogue/463-71.html" %>, <%= link_to "486", "catalogue/485-86.html#486" %>, <%= link_to "590", "catalogue/586-609.html#590" %></li>
              <li><span class="list-number">III.a.4(17).</span> Conch, <%= link_to "197", "catalogue/166-207.html#197" %></li>
              <li><span class="list-number">III.a.4(18).</span> Cornucopia, <%= link_to "130", "catalogue/130-42.html#130" %>, <%= link_to "166", "catalogue/166-207.html#166" %></li>
              <li><span class="list-number">III.a.4(19).</span> Crater, <%= link_to "162", "catalogue/161-65.html#162" %></li>
              <li><span class="list-number">III.a.4(20).</span> Cymbals, <%= link_to "196", "catalogue/166-207.html#196" %></li>
              <li><span class="list-number">III.a.4(21).</span> Diadem, <%= link_to "289", "catalogue/283-302.html#289" %>, <%= link_to "437", "catalogue/435-40.html#437" %></li>
              <li><span class="list-number">III.a.4(22).</span> Dome, <%= link_to "464", "catalogue/463-71.html#464" %></li>
              <li><span class="list-number">III.a.4(23).</span> Earring, <%= link_to "539", "catalogue/524-41.html#539" %></li>
              <li><span class="list-number">III.a.4(24).</span> Fishing rod, <%= link_to "123", "catalogue/119-29.html#123" %>, <%= link_to "467", "catalogue/463-71.html#467" %>, <%= link_to "486", "catalogue/485-86.html#486" %></li>
              <li><span class="list-number">III.a.4(25).</span> Fishing net, <%= link_to "466–67", "catalogue/463-71.html" %></li>
              <li><span class="list-number">III.a.4(26).</span> Flute, <%= link_to "381", "catalogue/376-88.html#381" %></li>
              <li><span class="list-number">III.a.4(27).</span> Garland, <%= link_to "398", "catalogue/396-401.html#398" %></li>
              <li><span class="list-number">III.a.4(28).</span> Harp, <%= link_to "590", "catalogue/586-609.html#590" %></li>
              <li><span class="list-number">III.a.4(29).</span> Hat, <%= link_to "204", "catalogue/166-207.html#204" %>, <%= link_to "259", "catalogue/248-65.html#259" %>, <%= link_to "290", "catalogue/283-302.html#290" %>, <%= link_to "486", "catalogue/485-86.html#486" %>; pointed cap, <%= link_to "86", "catalogue/85-86.html#86" %>, <%= link_to "213", "catalogue/208-23.html#213" %>, <%= link_to "298", "catalogue/283-302.html#298" %>, <%= link_to "311", "catalogue/307-11.html#311" %>, <%= link_to "372", "catalogue/360-74.html#372" %>, <%= link_to "393", "catalogue/389-93.html#393" %>; bonnet, <%= link_to "295", "catalogue/283-302.html#295" %>, <%= link_to "410", "catalogue/402-17.html#410" %>; Phrygian cap, <%= link_to "421", "catalogue/418-27.html#421" %>, <%= link_to "539", "catalogue/524-41.html#539" %>, <%= link_to "610", "catalogue/610-11.html#610" %></li>
              <li><span class="list-number">III.a.4(30).</span> Herm, <%= link_to "109", "catalogue/87-117.html#109" %></li>
              <li><span class="list-number">III.a.4(31).</span> Himation, <%= link_to "192", "catalogue/166-207.html#192" %>, <%= link_to "382", "catalogue/376-88.html#382" %></li>
              <li><span class="list-number">III.a.4(32).</span> Hoop, <%= link_to "109", "catalogue/87-117.html#109" %>, <%= link_to "174", "catalogue/166-207.html#174" %></li>
              <li><span class="list-number">III.a.4(33).</span> Horseshoe (motif), <%= link_to "503", "catalogue/503-4.html#503" %></li>
              <li><span class="list-number">III.a.4(34).</span> Hunting bow, <%= link_to "296", "catalogue/283-302.html#296" %>, <%= link_to "385", "catalogue/376-88.html#385" %></li>
              <li><span class="list-number">III.a.4(35).</span> Hunting spear, <%= link_to "96", "catalogue/87-117.html#96" %>, <%= link_to "365", "catalogue/360-74.html#365" %>, <%= link_to "371–72", "catalogue/360-74.html" %>, <%= link_to "536", "catalogue/524-41.html#536" %></li>
              <li><span class="list-number">III.a.4(36).</span> Jar, <%= link_to "396", "catalogue/396-401.html#396" %></li>
              <li><span class="list-number">III.a.4(37).</span> Jug, <%= link_to "185", "catalogue/166-207.html#185" %>, <%= link_to "263–64", "catalogue/248-65.html" %>, <%= link_to "591", "catalogue/586-609.html#591" %></li>
              <li><span class="list-number">III.a.4(38).</span> Juggling ring, <%= link_to "238", "catalogue/224-38.html#238" %></li>
              <li><span class="list-number">III.a.4(39).</span> <em>Kithara</em>, <%= link_to "166", "catalogue/166-207.html#166" %>, <%= link_to "186", "catalogue/166-207.html#186" %>, <%= link_to "212", "catalogue/208-23.html#212" %>, <%= link_to "363", "catalogue/360-74.html#363" %>, <%= link_to "434", "catalogue/433-34.html#434" %></li>
              <li><span class="list-number">III.a.4(40).</span> Lamp, <%= link_to "77–78", "catalogue/76-84.html" %>, <%= link_to "146 bis", "catalogue/143-46-bis.html#146-bis" %></li>
              <li><span class="list-number">III.a.4(41).</span> Lyre, <%= link_to "425", "catalogue/418-27.html#425" %></li>
              <li><span class="list-number">III.a.4(42).</span> Mortar, <%= link_to "111", "catalogue/87-117.html#111" %></li>
              <li><span class="list-number">III.a.4(43).</span> Oar, <%= link_to "179", "catalogue/166-207.html#179" %>, <%= link_to "383–84", "catalogue/376-88.html" %></li>
              <li><span class="list-number">III.a.4(44).</span> Obelisk, <%= link_to "222", "catalogue/208-23.html#222" %></li>
              <li><span class="list-number">III.a.4(45).</span> Oenochoë, <%= link_to "266", "catalogue/266.html#266" %>, <%= link_to "353", "catalogue/349-54.html#353" %></li>
              <li><span class="list-number">III.a.4(46).</span> <em>Pedum</em>, <%= link_to "119", "catalogue/119-29.html#119" %>, <%= link_to "428", "catalogue/428.html#428" %>, <%= link_to "490", "catalogue/490-91.html#490" %></li>
              <li><span class="list-number">III.a.4(47).</span> Pillow, <%= link_to "592", "catalogue/586-609.html#592" %></li>
              <li><span class="list-number">III.a.4(48).</span> Pincers, <%= link_to "166", "catalogue/166-207.html#166" %></li>
              <li><span class="list-number">III.a.4(49).</span> Pole, <%= link_to "139", "catalogue/130-42.html#139" %>, <%= link_to "204", "catalogue/166-207.html#204" %>, <%= link_to "366", "catalogue/360-74.html#366" %></li>
              <li><span class="list-number">III.a.4(50).</span> Portico, <%= link_to "464–67", "catalogue/463-71.html" %></li>
              <li><span class="list-number">III.a.4(51).</span> Post, <%= link_to "95", "catalogue/87-117.html#95" %></li>
              <li><span class="list-number">III.a.4(52).</span> Purse, <%= link_to "99", "catalogue/87-117.html#99" %>, <%= link_to "115", "catalogue/87-117.html#115" %>, <%= link_to "369", "catalogue/360-74.html#369" %>, <%= link_to "393", "catalogue/389-93.html#393" %>(?), <%= link_to "484", "catalogue/482-84.html#484" %></li>
              <li><span class="list-number">III.a.4(53).</span> Quadriga, <%= link_to "222–23", "catalogue/208-23.html" %>, <%= link_to "389", "catalogue/389-93.html#389" %>, <%= link_to "400", "catalogue/396-401.html#400" %>, <%= link_to "411", "catalogue/402-17.html#411" %></li>
              <li><span class="list-number">III.a.4(54).</span> Ram’s horn (<em>shofar</em>), <%= link_to "524", "catalogue/524-41.html#524" %></li>
              <li><span class="list-number">III.a.4(55).</span> Rhyton, <%= link_to "300", "catalogue/283-302.html#300" %>, <%= link_to "310", "catalogue/307-11.html#310" %></li>
              <li><span class="list-number">III.a.4(56).</span> Rudder, <%= link_to "197", "catalogue/166-207.html#197" %>, <%= link_to "221", "catalogue/208-23.html#221" %>, <%= link_to "383", "catalogue/376-88.html#383" %></li>
              <li><span class="list-number">III.a.4(57).</span> Saddlebag, <%= link_to "497", "catalogue/492-500.html#497" %></li>
              <li><span class="list-number">III.a.4(58).</span> Scepter, <%= link_to "154", "catalogue/147-60.html#154" %> (on handle), <%= link_to "211", "catalogue/208-23.html#211" %>, <%= link_to "315–16", "catalogue/315-16.html" %>, <%= link_to "348", "catalogue/348.html#348" %>, <%= link_to "374", "catalogue/360-74.html#374" %>, <%= link_to "409", "catalogue/402-17.html#409" %></li>
              <li><span class="list-number">III.a.4(59).</span> <em>Sistrum</em>, <%= link_to "166", "catalogue/166-207.html#166" %></li>
              <li><span class="list-number">III.a.4(60).</span> Situla, <%= link_to "300", "catalogue/283-302.html#300" %>, <%= link_to "310", "catalogue/307-11.html#310" %></li>
              <li><span class="list-number">III.a.4(61).</span> Stave, <%= link_to "426", "catalogue/418-27.html#426" %></li>
              <li><span class="list-number">III.a.4(62).</span> Tambourine, <%= link_to "106", "catalogue/87-117.html#106" %></li>
              <li><span class="list-number">III.a.4(63).</span> Thyrsus, <%= link_to "92", "catalogue/87-117.html#92" %>, <%= link_to "112", "catalogue/87-117.html#112" %>, <%= link_to "130", "catalogue/130-42.html#130" %>, <%= link_to "166", "catalogue/166-207.html#166" %>, <%= link_to "239", "catalogue/239-42.html#239" %>, <%= link_to "250", "catalogue/248-65.html#250" %>(?), <%= link_to "370", "catalogue/360-74.html#370" %>, <%= link_to "381", "catalogue/376-88.html#381" %>, <%= link_to "408", "catalogue/402-17.html#408" %>(?), <%= link_to "627", "catalogue/614-30.html#627" %>(?)</li>
              <li><span class="list-number">III.a.4(64).</span> Torch, <%= link_to "563", "catalogue/558-68.html#563" %></li>
              <li><span class="list-number">III.a.4(65).</span> Toy wheel, <%= link_to "174", "catalogue/166-207.html#174" %></li>
              <li><span class="list-number">III.a.4(66).</span> Trident, <%= link_to "88", "catalogue/87-117.html#88" %>, <%= link_to "210", "catalogue/208-23.html#210" %>, <%= link_to "360", "catalogue/360-74.html#360" %>, <%= link_to "407", "catalogue/402-17.html#407" %></li>
              <li><span class="list-number">III.a.4(67).</span> Tunic, <%= link_to "86", "catalogue/85-86.html#86" %>, <%= link_to "105", "catalogue/87-117.html#105" %>, <%= link_to "107", "catalogue/87-117.html#107" %>, <%= link_to "139", "catalogue/130-42.html#139" %>, <%= link_to "180", "catalogue/166-207.html#180" %>, <%= link_to "204", "catalogue/166-207.html#204" %>, <%= link_to "213", "catalogue/208-23.html#213" %>, <%= link_to "238", "catalogue/224-38.html#238" %>, <%= link_to "252", "catalogue/248-65.html#252" %>, <%= link_to "290", "catalogue/283-302.html#290" %>, <%= link_to "300", "catalogue/283-302.html#300" %>, <%= link_to "310", "catalogue/307-11.html#310" %>, <%= link_to "344", "catalogue/344-45.html#344" %>, <%= link_to "365", "catalogue/360-74.html#365" %>, <%= link_to "389", "catalogue/389-93.html#389" %>, <%= link_to "393", "catalogue/389-93.html#393" %>, <%= link_to "493", "catalogue/492-500.html#493" %></li>
              <li><span class="list-number">III.a.4(68).</span> Tympanon, <%= link_to "126", "catalogue/119-29.html#126" %>(?), <%= link_to "175", "catalogue/166-207.html#175" %>, <%= link_to "250", "catalogue/248-65.html#250" %></li>
              <li><span class="list-number">III.a.4(69).</span> Vase, <%= link_to "109", "catalogue/87-117.html#109" %>, <%= link_to "124", "catalogue/119-29.html#124" %>, <%= link_to "142", "catalogue/130-42.html#142" %></li>
              <li><span class="list-number">III.a.4(70).</span> Victory crown: <em>see</em> V.d.5 Wreath</li>
              <li><span class="list-number">III.a.4(71).</span> Water basin, <%= link_to "185", "catalogue/166-207.html#185" %></li>
              <li><span class="list-number">III.a.4(72).</span> Whip, <%= link_to "178", "catalogue/166-207.html#178" %>, <%= link_to "387", "catalogue/376-88.html#387" %>, <%= link_to "389", "catalogue/389-93.html#389" %>, <%= link_to "411", "catalogue/402-17.html#411" %>, <%= link_to "464", "catalogue/463-71.html#464" %>, <%= link_to "468", "catalogue/463-71.html#468" %></li>
              <li><span class="list-number">III.a.4(73).</span> Wineskin, <%= link_to "589", "catalogue/586-609.html#589" %></li>
            </ol>
          </li>
        </ol>
      </li>
      <li><span class="list-number">III.b.</span> War
        <ol>
          <li><span class="list-number">III.b.1.</span> Arrow, <%= link_to "200", "catalogue/166-207.html#200" %>, <%= link_to "215", "catalogue/208-23.html#215" %>, <%= link_to "373", "catalogue/360-74.html#373" %>, <%= link_to "385", "catalogue/376-88.html#385" %>, <%= link_to "394", "catalogue/394-95.html#394" %></li>
          <li><span class="list-number">III.b.2.</span> Axe, <%= link_to "225", "catalogue/224-38.html#225" %></li>
          <li><span class="list-number">III.b.3.</span> Bow, <%= link_to "219", "catalogue/208-23.html#219" %>, <%= link_to "296", "catalogue/283-302.html#296" %>, <%= link_to "308", "catalogue/307-11.html#308" %>, <%= link_to "386", "catalogue/376-88.html#386" %></li>
          <li><span class="list-number">III.b.4.</span> Cuirass, <%= link_to "105", "catalogue/87-117.html#105" %>, <%= link_to "394–95", "catalogue/394-95.html" %>, <%= link_to "474", "catalogue/474-76.html#474" %></li>
          <li><span class="list-number">III.b.5.</span> Display of military equipment, <%= link_to "102", "catalogue/87-117.html#102" %></li>
          <li><span class="list-number">III.b.6.</span> Helmet, <%= link_to "131", "catalogue/130-42.html#131" %>, <%= link_to "170", "catalogue/166-207.html#170" %>, <%= link_to "192–93", "catalogue/166-207.html" %>, <%= link_to "201", "catalogue/166-207.html#201" %>, <%= link_to "253", "catalogue/248-65.html#253" %>, <%= link_to "394–95", "catalogue/394-95.html" %>, <%= link_to "437", "catalogue/435-40.html#437" %></li>
          <li><span class="list-number">III.b.7.</span> Quiver, <%= link_to "373", "catalogue/360-74.html#373" %>, <%= link_to "385", "catalogue/376-88.html#385" %></li>
          <li><span class="list-number">III.b.8.</span> Shield, <%= link_to "98", "catalogue/87-117.html#98" %>, <%= link_to "105", "catalogue/87-117.html#105" %>, <%= link_to "170", "catalogue/166-207.html#170" %>, <%= link_to "192–93", "catalogue/166-207.html" %>, <%= link_to "201", "catalogue/166-207.html#201" %>, <%= link_to "225", "catalogue/224-38.html#225" %> (<em>pelta</em>), <%= link_to "248", "catalogue/248-65.html#248" %>, <%= link_to "253–54", "catalogue/248-65.html" %>, <%= link_to "261", "catalogue/248-65.html#261" %>, <%= link_to "437", "catalogue/435-40.html#437" %></li>
          <li><span class="list-number">III.b.9.</span> Spear, <%= link_to "131", "catalogue/130-42.html#131" %>, <%= link_to "169–70", "catalogue/166-207.html" %>, <%= link_to "192–93", "catalogue/166-207.html" %>, <%= link_to "201", "catalogue/166-207.html#201" %>, <%= link_to "253–54", "catalogue/248-65.html" %>, <%= link_to "311", "catalogue/307-11.html#311" %>, <%= link_to "403", "catalogue/402-17.html#403" %>, <%= link_to "582", "catalogue/582-85.html#582" %></li>
          <li><span class="list-number">III.b.10.</span> Trophy, <%= link_to "131", "catalogue/130-42.html#131" %></li>
        </ol>
      </li>
      <li><span class="list-number">III.c.</span> The Amphitheater
        <ol>
          <li><span class="list-number">III.c.1.</span> Gladiators
            <ol>
              <li><span class="list-number">III.c.1(1).</span> <em>Essedarius</em>, <%= link_to "132", "catalogue/130-42.html#132" %>, <%= link_to "199", "catalogue/166-207.html#199" %></li>
              <li><span class="list-number">III.c.1(2).</span> <em>Hoplomachus</em>, <%= link_to "108", "catalogue/87-117.html#108" %>, <%= link_to "346", "catalogue/346.html#346" %>, <%= link_to "403", "catalogue/402-17.html#403" %>, <%= link_to "440", "catalogue/435-40.html#440" %></li>
              <li><span class="list-number">III.c.1(3).</span> <em>Lanista</em>, <%= link_to "107", "catalogue/87-117.html#107" %></li>
              <li><span class="list-number">III.c.1(4).</span> <em>Myrmillo</em>, <%= link_to "107", "catalogue/87-117.html#107" %>, <%= link_to "227", "catalogue/224-38.html#227" %></li>
              <li><span class="list-number">III.c.1(5).</span> <em>Retiarius</em>, <%= link_to "407", "catalogue/402-17.html#407" %></li>
              <li><span class="list-number">III.c.1(6).</span> Samnite, <%= link_to "346", "catalogue/346.html#346" %>, <%= link_to "440", "catalogue/435-40.html#440" %></li>
              <li><span class="list-number">III.c.1(7).</span> <em>Secutor</em>, <%= link_to "407", "catalogue/402-17.html#407" %></li>
              <li><span class="list-number">III.c.1(8).</span> <em>Thrax</em>, <%= link_to "89", "catalogue/87-117.html#89" %>, <%= link_to "107", "catalogue/87-117.html#107" %>, <%= link_to "168", "catalogue/166-207.html#168" %>, <%= link_to "403", "catalogue/402-17.html#403" %>(?), <%= link_to "418", "catalogue/418-27.html#418" %>(?)</li>
              <li><span class="list-number">III.c.1(9).</span> <em>Venator</em>, <%= link_to "485", "catalogue/485-86.html#485" %></li>
              <li><span class="list-number">III.c.1(10).</span> Unidentified, <%= link_to "217", "catalogue/208-23.html#217" %>, <%= link_to "419", "catalogue/418-27.html#419" %></li>
            </ol>
          </li>
          <li><span class="list-number">III.c.2.</span> Gladiatorial equipment
            <ol>
              <li><span class="list-number">III.c.2(1).</span> Display of equipment, <%= link_to "93", "catalogue/87-117.html#93" %>, <%= link_to "134", "catalogue/130-42.html#134" %>, <%= link_to "157", "catalogue/147-60.html#157" %></li>
              <li><span class="list-number">III.c.2(2).</span> Greaves, <%= link_to "89", "catalogue/87-117.html#89" %>, <%= link_to "93", "catalogue/87-117.html#93" %>, <%= link_to "107–8", "catalogue/87-117.html" %>, <%= link_to "168", "catalogue/166-207.html#168" %>, <%= link_to "227", "catalogue/224-38.html#227" %>, <%= link_to "346", "catalogue/346.html#346" %>, <%= link_to "403", "catalogue/402-17.html#403" %>, <%= link_to "419", "catalogue/418-27.html#419" %>, <%= link_to "440", "catalogue/435-40.html#440" %></li>
              <li><span class="list-number">III.c.2(3).</span> Helmet, <%= link_to "89", "catalogue/87-117.html#89" %>, <%= link_to "107–8", "catalogue/87-117.html" %>, <%= link_to "134", "catalogue/130-42.html#134" %>, <%= link_to "217", "catalogue/208-23.html#217" %>, <%= link_to "227", "catalogue/224-38.html#227" %>, <%= link_to "346", "catalogue/346.html#346" %>, <%= link_to "403", "catalogue/402-17.html#403" %>, <%= link_to "407", "catalogue/402-17.html#407" %>, <%= link_to "419", "catalogue/418-27.html#419" %>, <%= link_to "440", "catalogue/435-40.html#440" %></li>
              <li><span class="list-number">III.c.2(4).</span> <em>Manica</em>, <%= link_to "107", "catalogue/87-117.html#107" %>, <%= link_to "227", "catalogue/224-38.html#227" %>, <%= link_to "346", "catalogue/346.html#346" %>, <%= link_to "403", "catalogue/402-17.html#403" %>, <%= link_to "419", "catalogue/418-27.html#419" %>, <%= link_to "440", "catalogue/435-40.html#440" %></li>
              <li><span class="list-number">III.c.2(5).</span> Shield, <%= link_to "89", "catalogue/87-117.html#89" %>, <%= link_to "107–8", "catalogue/87-117.html" %>, <%= link_to "132", "catalogue/130-42.html#132" %>, <%= link_to "199", "catalogue/166-207.html#199" %>, <%= link_to "217", "catalogue/208-23.html#217" %>, <%= link_to "346", "catalogue/346.html#346" %>, <%= link_to "403", "catalogue/402-17.html#403" %>, <%= link_to "419", "catalogue/418-27.html#419" %>, <%= link_to "440", "catalogue/435-40.html#440" %></li>
              <li><span class="list-number">III.c.2(6).</span> Sword, <%= link_to "93", "catalogue/87-117.html#93" %> (<em>sica</em>), <%= link_to "107", "catalogue/87-117.html#107" %> (<em>sica</em>), <%= link_to "168", "catalogue/166-207.html#168" %> (<em>sica</em>), <%= link_to "199", "catalogue/166-207.html#199" %>, <%= link_to "217", "catalogue/208-23.html#217" %> (<em>sica</em>), <%= link_to "227", "catalogue/224-38.html#227" %> (<em>sica</em>), <%= link_to "407", "catalogue/402-17.html#407" %>, <%= link_to "419", "catalogue/418-27.html#419" %></li>
              <li><span class="list-number">III.c.2(7).</span> Trident, <%= link_to "407", "catalogue/402-17.html#407" %></li>
            </ol>
          </li>
          <li><span class="list-number">III.c.3.</span> Fights with beasts, <%= link_to "141", "catalogue/130-42.html#141" %>, <%= link_to "167", "catalogue/166-207.html#167" %>, <%= link_to "365–66", "catalogue/360-74.html" %>, <%= link_to "387", "catalogue/376-88.html#387" %>, <%= link_to "468", "catalogue/463-71.html#468" %>, <%= link_to "485", "catalogue/485-86.html#485" %>, <%= link_to "536", "catalogue/524-41.html#536" %></li>
        </ol>
      </li>
      <li><span class="list-number">III.d.</span> The Circus
        <ol>
          <li><span class="list-number">III.d.1.</span> <em>Biga</em>, <%= link_to "226", "catalogue/224-38.html#226" %>, <%= link_to "255", "catalogue/248-65.html#255" %>, <%= link_to "368", "catalogue/360-74.html#368" %></li>
          <li><span class="list-number">III.d.2.</span> Chariot racing, <%= link_to "222", "catalogue/208-23.html#222" %>, <%= link_to "226", "catalogue/224-38.html#226" %>, <%= link_to "255", "catalogue/248-65.html#255" %>, <%= link_to "400", "catalogue/396-401.html#400" %></li>
          <li><span class="list-number">III.d.3.</span> <em>Desultor</em>, <%= link_to "104", "catalogue/87-117.html#104" %></li>
          <li><span class="list-number">III.d.4.</span> Game with swiveling post, <%= link_to "190–91", "catalogue/166-207.html" %></li>
          <li><span class="list-number">III.d.5.</span> <em>Jubilator</em>, <%= link_to "178", "catalogue/166-207.html#178" %></li>
          <li><span class="list-number">III.d.6.</span> Lap-counting dolphins, <%= link_to "103", "catalogue/87-117.html#103" %>, <%= link_to "222–23", "catalogue/208-23.html" %></li>
          <li><span class="list-number">III.d.7.</span> Quadriga, <%= link_to "222–23", "catalogue/208-23.html" %>, <%= link_to "389", "catalogue/389-93.html#389" %>, <%= link_to "400", "catalogue/396-401.html#400" %></li>
          <li><span class="list-number">III.d.8.</span> <em>Spina</em>, <%= link_to "223", "catalogue/208-23.html#223" %></li>
          <li><span class="list-number">III.d.9.</span> Victorious charioteer, <%= link_to "222–23", "catalogue/208-23.html" %></li>
          <li><span class="list-number">III.d.10.</span> Victorious racehorse, <%= link_to "305", "catalogue/305-6.html#305" %></li>
        </ol>
      </li>
      <li><span class="list-number">III.e.</span> Entertainers
        <ol>
          <li><span class="list-number">III.e.1.</span> Boxers, pugilists, <%= link_to "87", "catalogue/87-117.html#87" %>, <%= link_to "133", "catalogue/130-42.html#133" %>, <%= link_to "202", "catalogue/166-207.html#202" %>, <%= link_to "228–30", "catalogue/224-38.html" %>, <%= link_to "307", "catalogue/307-11.html#307" %></li>
          <li><span class="list-number">III.e.2.</span> Stave-dancers, <%= link_to "336", "catalogue/327-37.html#336" %>, <%= link_to "426", "catalogue/418-27.html#426" %></li>
          <li><span class="list-number">III.e.3.</span> Various other entertainers, <%= link_to "172", "catalogue/166-207.html#172" %>, <%= link_to "238", "catalogue/224-38.html#238" %>, <%= link_to "295", "catalogue/283-302.html#295" %>, <%= link_to "485", "catalogue/485-86.html#485" %></li>
        </ol>
      </li>
      <li><span class="list-number">III.f.</span> The Theater
        <ol>
          <li><span class="list-number">III.f.1.</span> Actor, <%= link_to "208", "catalogue/208-23.html#208" %>(?), <%= link_to "297", "catalogue/283-302.html#297" %>, <%= link_to "592", "catalogue/586-609.html#592" %> (lamp in the shape of), <%= link_to "593", "catalogue/586-609.html#593" %> (lamp in the shape of), <%= link_to "626a", "catalogue/614-30.html#626a" %> (lamp in the shape of)</li>
          <li><span class="list-number">III.f.2.</span> Mask, <%= link_to "67", "catalogue/52-69.html#67" %>, <%= link_to "130", "catalogue/130-42.html#130" %>, <%= link_to "208", "catalogue/208-23.html#208" %>(?), <%= link_to "349–52", "catalogue/349-54.html" %>, <%= link_to "405", "catalogue/402-17.html#405" %>, <%= link_to "447–48", "catalogue/442-48.html" %>, <%= link_to "449", "catalogue/449-50.html#449" %>, <%= link_to "455", "catalogue/455-58.html#455" %>, <%= link_to "457", "catalogue/455-58.html#457" %>, <%= link_to "581", "catalogue/580-81.html#581" %> (on handle), <%= link_to "594", "catalogue/586-609.html#594" %> (lamp in the shape of), <%= link_to "595", "catalogue/586-609.html#595" %>, <%= link_to "601", "catalogue/586-609.html#601" %> (lamp in the shape of), <%= link_to "626a", "catalogue/614-30.html#626a" %></li>
        </ol>
      </li>
      <li><span class="list-number">III.g.</span> Erotic Scenes
        <ol>
          <li><span class="list-number">III.g.1.</span> Heterosexual, <%= link_to "82", "catalogue/76-84.html#82" %>, <%= link_to "97", "catalogue/87-117.html#97" %>, <%= link_to "118", "catalogue/118.html#118" %>, <%= link_to "181–83", "catalogue/166-207.html" %>, <%= link_to "203", "catalogue/166-207.html#203" %>, <%= link_to "220", "catalogue/208-23.html#220" %>, <%= link_to "262", "catalogue/248-65.html#262" %>, <%= link_to "264", "catalogue/248-65.html#264" %>, <%= link_to "334", "catalogue/327-37.html#334" %>, <%= link_to "353", "catalogue/349-54.html#353" %>, <%= link_to "356", "catalogue/355-56.html#356" %>, <%= link_to "491", "catalogue/490-91.html#491" %></li>
          <li><span class="list-number">III.g.2.</span> Homosexual, <%= link_to "317–18", "catalogue/317-22.html" %></li>
          <li><span class="list-number">III.g.3.</span> Phallus/male genitals, <%= link_to "587", "catalogue/586-609.html#587" %>(?), <%= link_to "596", "catalogue/586-609.html#596" %> (lamp in the shape of), <%= link_to "597", "catalogue/586-609.html#597" %> (lamp in the shape of, with three phalli)</li>
          <li><span class="list-number">III.g.4.</span> With animals, <%= link_to "354–55", "catalogue/349-54.html#354" %></li>
        </ol>
      </li>
      <li><span class="list-number">III.h.</span> Anonymous Portraits or Busts
        <ol>
          <li><span class="list-number">III.h.1.</span> Bust of young man, <%= link_to "338", "catalogue/338.html#338" %></li>
          <li><span class="list-number">III.h.2.</span> Bust of old man, <%= link_to "291", "catalogue/283-302.html#291" %></li>
          <li><span class="list-number">III.h.3.</span> Bust of young woman, <%= link_to "292–93", "catalogue/283-302.html" %></li>
          <li><span class="list-number">III.h.4.</span> Bust of military man, <%= link_to "474", "catalogue/474-76.html#474" %></li>
          <li><span class="list-number">III.h.5.</span> Female bust, <%= link_to "559", "catalogue/558-68.html#559" %> (on handle)</li>
          <li><span class="list-number">III.h.6.</span> Female head, <%= link_to "545", "catalogue/543-47.html#545" %> (on handle)</li>
          <li><span class="list-number">III.h.7.</span> Male or female bust(?), <%= link_to "533", "catalogue/524-41.html#533" %>, <%= link_to "544", "catalogue/543-47.html#544" %> (on handle)</li>
          <li><span class="list-number">III.h.8.</span> Male or female head, <%= link_to "546", "catalogue/543-47.html#546" %> (on handle), <%= link_to "547", "catalogue/543-47.html#547" %> (on handle)</li>
          <li><span class="list-number">III.h.9.</span> Male and female heads facing each other, <%= link_to "539", "catalogue/524-41.html#539" %></li>
          <li><span class="list-number">III.h.10.</span> Male head, <%= link_to "610", "catalogue/610-11.html#610" %> (lamp in the shape of)</li>
        </ol>
      </li>
    </ol>
  </li>
  <li><span class="list-number">IV.</span> Animals
    <ol>
      <li><span class="list-number">IV.a.</span> Mammals
        <ol>
          <li><span class="list-number">IV.a.1.</span> Bear, <%= link_to "125", "catalogue/119-29.html#125" %>, <%= link_to "387", "catalogue/376-88.html#387" %>, <%= link_to "393", "catalogue/389-93.html#393" %>, <%= link_to "468", "catalogue/463-71.html#468" %></li>
          <li><span class="list-number">IV.a.2.</span> Boar, pig, <%= link_to "216", "catalogue/208-23.html#216" %>, <%= link_to "343", "catalogue/339-43.html#343" %>, <%= link_to "371–72", "catalogue/360-74.html" %></li>
          <li><span class="list-number">IV.a.3.</span> Bull, <%= link_to "260", "catalogue/248-65.html#260" %> (Jupiter), <%= link_to "364", "catalogue/360-74.html#364" %> (Jupiter), <%= link_to "367", "catalogue/360-74.html#367" %>, <%= link_to "439", "catalogue/435-40.html#439" %> (Jupiter), <%= link_to "485", "catalogue/485-86.html#485" %>, <%= link_to "606", "catalogue/586-609.html#606" %> (lamp in the shape of a bull's head), <%= link_to "614", "catalogue/614-30.html#614" %>(?)</li>
          <li><span class="list-number">IV.a.4.</span> Cat, <%= link_to "238", "catalogue/224-38.html#238" %></li>
          <li><span class="list-number">IV.a.5.</span> Crocodile, <%= link_to "189", "catalogue/166-207.html#189" %>, <%= link_to "294", "catalogue/283-302.html#294" %></li>
          <li><span class="list-number">IV.a.6.</span> Deer, stag, <%= link_to "106", "catalogue/87-117.html#106" %> (fawn), <%= link_to "135", "catalogue/130-42.html#135" %>, <%= link_to "187", "catalogue/166-207.html#187" %>, <%= link_to "207", "catalogue/166-207.html#207" %>, <%= link_to "232–33", "catalogue/224-38.html" %>, <%= link_to "326", "catalogue/326.html#326" %>(?), <%= link_to "340", "catalogue/339-43.html#340" %>(?), <%= link_to "373", "catalogue/360-74.html#373" %>, <%= link_to "425", "catalogue/418-27.html#425" %>, <%= link_to "431", "catalogue/430-32.html#431" %>, <%= link_to "614", "catalogue/614-30.html#614" %>(?), <%= link_to "628", "catalogue/614-30.html#628" %> (handle in the shape of)</li>
          <li><span class="list-number">IV.a.7.</span> Dog, hound, <%= link_to "96", "catalogue/87-117.html#96" %>, <%= link_to "129", "catalogue/119-29.html#129" %>, <%= link_to "163", "catalogue/161-65.html#163" %>, <%= link_to "169", "catalogue/166-207.html#169" %>, <%= link_to "190–91", "catalogue/166-207.html" %>(?), <%= link_to "207", "catalogue/166-207.html#207" %>, <%= link_to "412", "catalogue/402-17.html#412" %>, <%= link_to "425", "catalogue/418-27.html#425" %>, <%= link_to "500", "catalogue/492-500.html#500" %>, <%= link_to "520", "catalogue/520.html#520" %>(?), <%= link_to "563", "catalogue/558-68.html#563" %></li>
          <li><span class="list-number">IV.a.8.</span> Dolphin, <%= link_to "88", "catalogue/87-117.html#88" %>, <%= link_to "103", "catalogue/87-117.html#103" %>, <%= link_to "210", "catalogue/208-23.html#210" %>, <%= link_to "360", "catalogue/360-74.html#360" %>, <%= link_to "420", "catalogue/418-27.html#420" %>, <%= link_to "423", "catalogue/418-27.html#423" %></li>
          <li><span class="list-number">IV.a.9.</span> Donkey, <%= link_to "354", "catalogue/349-54.html#354" %>, <%= link_to "464", "catalogue/463-71.html#464" %>(?)</li>
          <li><span class="list-number">IV.a.10.</span> Dromedary, <%= link_to "497", "catalogue/492-500.html#497" %></li>
          <li><span class="list-number">IV.a.11.</span> Elephant, <%= link_to "286", "catalogue/283-302.html#286" %>, <%= link_to "625", "catalogue/614-30.html#625" %> (on lamp sides)</li>
          <li><span class="list-number">IV.a.12.</span> Goat, <%= link_to "129", "catalogue/119-29.html#129" %>, <%= link_to "136", "catalogue/130-42.html#136" %>, <%= link_to "234", "catalogue/224-38.html#234" %>, <%= link_to "242", "catalogue/239-42.html#242" %></li>
          <li><span class="list-number">IV.a.13.</span> Horse, <%= link_to "95", "catalogue/87-117.html#95" %>, <%= link_to "104–5", "catalogue/87-117.html" %>, <%= link_to "178", "catalogue/166-207.html#178" %>, <%= link_to "226", "catalogue/224-38.html#226" %>, <%= link_to "252 bis", "catalogue/248-65.html#252-bis" %>, <%= link_to "255", "catalogue/248-65.html#255" %>, <%= link_to "305", "catalogue/305-6.html#305" %>, <%= link_to "311", "catalogue/307-11.html#311" %>, <%= link_to "354", "catalogue/349-54.html#354" %>, <%= link_to "355", "catalogue/355-56.html#355" %>(?), <%= link_to "400", "catalogue/396-401.html#400" %>, <%= link_to "411", "catalogue/402-17.html#411" %></li>
          <li><span class="list-number">IV.a.14.</span> Lion, lioness, <%= link_to "91", "catalogue/87-117.html#91" %>, <%= link_to "127", "catalogue/119-29.html#127" %>, <%= link_to "141", "catalogue/130-42.html#141" %>, <%= link_to "187–89", "catalogue/166-207.html" %>, <%= link_to "294", "catalogue/283-302.html#294" %>, <%= link_to "304", "catalogue/303-4.html#304" %>, <%= link_to "324", "catalogue/324-25.html#324" %>, <%= link_to "332", "catalogue/327-37.html#332" %>, <%= link_to "337", "catalogue/327-37.html#337" %>, <%= link_to "365–66", "catalogue/360-74.html" %>, <%= link_to "375", "catalogue/375.html#375" %>, <%= link_to "390", "catalogue/389-93.html#390" %>, <%= link_to "408", "catalogue/402-17.html#408" %>(?), <%= link_to "473", "catalogue/472-73.html#473" %>, <%= link_to "492", "catalogue/492-500.html#492" %>, <%= link_to "536", "catalogue/524-41.html#536" %>; lionskin, <%= link_to "110", "catalogue/87-117.html#110" %>, <%= link_to "121–22", "catalogue/119-29.html" %>, <%= link_to "126", "catalogue/119-29.html#126" %>, <%= link_to "308", "catalogue/307-11.html#308" %></li>
          <li><span class="list-number">IV.a.15.</span> Monkey, <%= link_to "177", "catalogue/166-207.html#177" %>, <%= link_to "238", "catalogue/224-38.html#238" %>, <%= link_to "589", "catalogue/586-609.html#589" %> (lamp in the shape of)</li>
          <li><span class="list-number">IV.a.16.</span> Mouse, <%= link_to "629", "catalogue/614-30.html#629" %> (on nozzle only)</li>
          <li><span class="list-number">IV.a.17.</span> Mule, <%= link_to "85", "catalogue/85-86.html#85" %>, <%= link_to "91", "catalogue/87-117.html#91" %>, <%= link_to "188", "catalogue/166-207.html#188" %></li>
          <li><span class="list-number">IV.a.18.</span> Panther, <%= link_to "92", "catalogue/87-117.html#92" %>, <%= link_to "112", "catalogue/87-117.html#112" %>, <%= link_to "239", "catalogue/239-42.html#239" %>, <%= link_to "257", "catalogue/248-65.html#257" %>, <%= link_to "408", "catalogue/402-17.html#408" %>(?), <%= link_to "621", "catalogue/614-30.html#621" %> (handle in the shape of)</li>
          <li><span class="list-number">IV.a.19.</span> Rabbit, hare, <%= link_to "119–20", "catalogue/119-29.html" %>, <%= link_to "124", "catalogue/119-29.html#124" %>, <%= link_to "401", "catalogue/396-401.html#401" %>, <%= link_to "412", "catalogue/402-17.html#412" %>, <%= link_to "520", "catalogue/520.html#520" %></li>
          <li><span class="list-number">IV.a.20.</span> Ram, <%= link_to "167", "catalogue/166-207.html#167" %>, <%= link_to "209", "catalogue/208-23.html#209" %>, <%= link_to "335", "catalogue/327-37.html#335" %>, <%= link_to "369", "catalogue/360-74.html#369" %></li>
          <li><span class="list-number">IV.a.21.</span> Sheep, <%= link_to "425", "catalogue/418-27.html#425" %>, <%= link_to "502", "catalogue/501-2.html#502" %>, <%= link_to "534", "catalogue/524-41.html#534" %> (lamb)</li>
        </ol>
      </li>
      <li><span class="list-number">IV.b.</span> Birds
        <ol>
          <li><span class="list-number">IV.b.1.</span> Cock, <%= link_to "198", "catalogue/166-207.html#198" %>, <%= link_to "388", "catalogue/376-88.html#388" %>, <%= link_to "422", "catalogue/418-27.html#422" %>, <%= link_to "484", "catalogue/482-84.html#484" %></li>
          <li><span class="list-number">IV.b.2.</span> Dove, pigeon, <%= link_to "205–6", "catalogue/166-207.html" %>, <%= link_to "282", "catalogue/278-82.html#282" %>, <%= link_to "493", "catalogue/492-500.html#493" %>, <%= link_to "607", "catalogue/586-609.html#607" %> (lamp in the shape of)</li>
          <li><span class="list-number">IV.b.3.</span> Duck, <%= link_to "425", "catalogue/418-27.html#425" %>(?), <%= link_to "464", "catalogue/463-71.html#464" %></li>
          <li><span class="list-number">IV.b.4.</span> Eagle, <%= link_to "120", "catalogue/119-29.html#120" %>, <%= link_to "128", "catalogue/119-29.html#128" %>, <%= link_to "159", "catalogue/147-60.html#159" %> (on handle), <%= link_to "166", "catalogue/166-207.html#166" %>, <%= link_to "322", "catalogue/317-22.html#322" %>, <%= link_to "325", "catalogue/324-25.html#325" %>, <%= link_to "329", "catalogue/327-37.html#329" %>, <%= link_to "402", "catalogue/402-17.html#402" %>, <%= link_to "417", "catalogue/402-17.html#417" %>, <%= link_to "477", "catalogue/477-81.html#477" %>, <%= link_to "479", "catalogue/477-81.html#479" %>, <%= link_to "582", "catalogue/582-85.html#582" %>, <%= link_to "585", "catalogue/582-85.html#585" %> (on lampstand)</li>
          <li><span class="list-number">IV.b.5.</span> Parrot, <%= link_to "128", "catalogue/119-29.html#128" %>(?), <%= link_to "329", "catalogue/327-37.html#329" %>(?)</li>
          <li><span class="list-number">IV.b.6.</span> Peacock, <%= link_to "166", "catalogue/166-207.html#166" %>, <%= link_to "258", "catalogue/248-65.html#258" %>, <%= link_to "630", "catalogue/614-30.html#630" %> (lamp in the shape of)</li>
          <li><span class="list-number">IV.b.7.</span> Stork, <%= link_to "416", "catalogue/402-17.html#416" %>(?)</li>
          <li><span class="list-number">IV.b.8.</span> Swan, <%= link_to "358", "catalogue/357-59.html#358" %> (Jupiter), <%= link_to "623", "catalogue/614-30.html#623" %>, <%= link_to "624", "catalogue/614-30.html#624" %></li>
          <li><span class="list-number">IV.b.9.</span> Wading bird, <%= link_to "81", "catalogue/76-84.html#81" %>, <%= link_to "265", "catalogue/248-65.html#265" %>, <%= link_to "416", "catalogue/402-17.html#416" %></li>
          <li><span class="list-number">IV.b.10.</span> Unidentified bird, <%= link_to "79", "catalogue/76-84.html#79" %>, <%= link_to "166", "catalogue/166-207.html#166" %>(?), <%= link_to "177", "catalogue/166-207.html#177" %>, <%= link_to "195", "catalogue/166-207.html#195" %>, <%= link_to "219", "catalogue/208-23.html#219" %>, <%= link_to "308", "catalogue/307-11.html#308" %>, <%= link_to "614", "catalogue/614-30.html#614" %></li>
        </ol>
      </li>
      <li><span class="list-number">IV.c.</span> Snakes, <%= link_to "158", "catalogue/147-60.html#158" %>, <%= link_to "161", "catalogue/161-65.html#161" %>, <%= link_to "166", "catalogue/166-207.html#166" %>, <%= link_to "192", "catalogue/166-207.html#192" %>, <%= link_to "231", "catalogue/224-38.html#231" %>, <%= link_to "391", "catalogue/389-93.html#391" %>, <%= link_to "416", "catalogue/402-17.html#416" %>, <%= link_to "470", "catalogue/463-71.html#470" %>, <%= link_to "492", "catalogue/492-500.html#492" %></li>
      <li><span class="list-number">IV.d.</span> Crustacea, Fish, Insects, Frog, Turtle
        <ol>
          <li><span class="list-number">IV.d.1.</span> Crustacea
            <ol>
              <li><span class="list-number">IV.d.1(1).</span> Scallop, <%= link_to "114", "catalogue/87-117.html#114" %>, <%= link_to "117", "catalogue/87-117.html#117" %>, <%= link_to "237", "catalogue/224-38.html#237" %>, <%= link_to "247", "catalogue/243-47.html#247" %>, <%= link_to "274", "catalogue/273-74.html#274" %>, <%= link_to "405", "catalogue/402-17.html#405" %>, <%= link_to "415", "catalogue/402-17.html#415" %></li>
              <li><span class="list-number">IV.d.1(2).</span> Shell, <%= link_to "90", "catalogue/87-117.html#90" %>, <%= link_to "197", "catalogue/166-207.html#197" %>, <%= link_to "221", "catalogue/208-23.html#221" %>, <%= link_to "263", "catalogue/248-65.html#263" %>, <%= link_to "274", "catalogue/273-74.html#274" %>, <%= link_to "280–81", "catalogue/278-82.html" %>, <%= link_to "405", "catalogue/402-17.html#405" %></li>
              <li><span class="list-number">IV.d.1(3).</span> Crab, <%= link_to "236", "catalogue/224-38.html#236" %></li>
            </ol>
          </li>
          <li><span class="list-number">IV.d.2.</span> Fish, <%= link_to "123", "catalogue/119-29.html#123" %>, <%= link_to "195", "catalogue/166-207.html#195" %>, <%= link_to "290", "catalogue/283-302.html#290" %>, <%= link_to "420", "catalogue/418-27.html#420" %>, <%= link_to "486", "catalogue/485-86.html#486" %></li>
          <li><span class="list-number">IV.d.3.</span> Insects
            <ol>
              <li><span class="list-number">IV.d.3(1).</span> Grasshopper or locust, <%= link_to "140", "catalogue/130-42.html#140" %></li>
              <li><span class="list-number">IV.d.3(2).</span> Scorpion, <%= link_to "288", "catalogue/283-302.html#288" %>, <%= link_to "484", "catalogue/482-84.html#484" %></li>
            </ol>
          </li>
          <li><span class="list-number">IV.d.4.</span> Frog, <%= link_to "83", "catalogue/76-84.html#83" %></li>
          <li><span class="list-number">IV.d.5.</span> Turtle, <%= link_to "484", "catalogue/482-84.html#484" %></li>
        </ol>
      </li>
    </ol>
  </li>
  <li><span class="list-number">V.</span> Vegetables, Fruit, Trees, and Floral Patterns
    <ol>
      <li><span class="list-number">V.a.</span> Vegetables
        <ol>
          <li><span class="list-number">V.a.1.</span> Artichoke, <%= link_to "469", "catalogue/463-71.html#469" %></li>
          <li><span class="list-number">V.a.2.</span> Radish, <%= link_to "469", "catalogue/463-71.html#469" %>, <%= link_to "470", "catalogue/463-71.html#470" %></li>
        </ol>
      </li>
      <li><span class="list-number">V.b.</span> Fruit
        <ol>
          <li><span class="list-number">V.b.1.</span> Acorn, <%= link_to "184", "catalogue/166-207.html#184" %></li>
          <li><span class="list-number">V.b.2.</span> Citrus (<em>etrog</em>), <%= link_to "524", "catalogue/524-41.html#524" %></li>
          <li><span class="list-number">V.b.3.</span> Fig, <%= link_to "469", "catalogue/463-71.html#469" %></li>
          <li><span class="list-number">V.b.4.</span> Grapes, <%= link_to "370", "catalogue/360-74.html#370" %>, <%= link_to "392", "catalogue/389-93.html#392" %>, <%= link_to "537", "catalogue/524-41.html#537" %>(?), <%= link_to "568", "catalogue/558-68.html#568" %></li>
          <li><span class="list-number">V.b.5.</span> Pinecone, <%= link_to "266", "catalogue/266.html#266" %>, <%= link_to "609", "catalogue/586-609.html#609" %> (lamp in the shape of), <%= link_to "627", "catalogue/614-30.html#627" %>(?)</li>
          <li><span class="list-number">V.b.6.</span> Pomegranate, <%= link_to "79", "catalogue/76-84.html#79" %>, <%= link_to "266", "catalogue/266.html#266" %></li>
          <li><span class="list-number">V.b.7.</span> Unidentified fruit, <%= link_to "205–6", "catalogue/166-207.html" %> (olive?), <%= link_to "266", "catalogue/266.html#266" %></li>
        </ol>
      </li>
      <li><span class="list-number">V.c.</span> Trees, <%= link_to "123", "catalogue/119-29.html#123" %>(?), <%= link_to "129", "catalogue/119-29.html#129" %>, <%= link_to "177", "catalogue/166-207.html#177" %>, <%= link_to "196", "catalogue/166-207.html#196" %>, <%= link_to "231", "catalogue/224-38.html#231" %>, <%= link_to "305", "catalogue/305-6.html#305" %>, <%= link_to "310", "catalogue/307-11.html#310" %></li>
      <li><span class="list-number">V.d.</span> Vegetal Decors
        <ol>
          <li><span class="list-number">V.d.1.</span> Leaves, <%= link_to "79", "catalogue/76-84.html#79" %>, <%= link_to "94", "catalogue/87-117.html#94" %>, <%= link_to "140", "catalogue/130-42.html#140" %>, <%= link_to "359", "catalogue/357-59.html#359" %>, <%= link_to "621", "catalogue/614-30.html#621" %> (acanthus), <%= link_to "622", "catalogue/614-30.html#622" %> (handle in the shape of), <%= link_to "626b", "catalogue/614-30.html#626b" %> (handle in the shape of)
            <ol>
              <li><span class="list-number">V.d.1(1).</span> Leaves and berries, <%= link_to "577", "catalogue/577-78.html#577" %>, <%= link_to "626a", "catalogue/614-30.html#626a" %>, <%= link_to "626b", "catalogue/614-30.html#626b" %></li>
              <li><span class="list-number">V.d.1(2).</span> Vine leaf (handle in the shape of), <%= link_to "35", "catalogue/28-37.html#35" %>, <%= link_to "149", "catalogue/147-60.html#149" %>, <%= link_to "157", "catalogue/147-60.html#157" %> (on handle), <%= link_to "389–93", "catalogue/389-93.html" %>, <%= link_to "429", "catalogue/429.html#429" %>, <%= link_to "490", "catalogue/490-91.html#490" %></li>
            </ol>
          </li>
          <li><span class="list-number">V.d.2.</span> Palmette, <%= link_to "495", "catalogue/492-500.html#495" %>, <%= link_to "613", "catalogue/613.html#613" %> (handle in the shape of)</li>
          <li><span class="list-number">V.d.3.</span> Palms, <%= link_to "109", "catalogue/87-117.html#109" %>, <%= link_to "162", "catalogue/161-65.html#162" %>, <%= link_to "214", "catalogue/208-23.html#214" %>, <%= link_to "224", "catalogue/224-38.html#224" %>, <%= link_to "248", "catalogue/248-65.html#248" %>, <%= link_to "307", "catalogue/307-11.html#307" %>, <%= link_to "388", "catalogue/376-88.html#388" %>, <%= link_to "419", "catalogue/418-27.html#419" %>, <%= link_to "524", "catalogue/524-41.html#524" %> (<em>lulav</em>)</li>
          <li><span class="list-number">V.d.4.</span> Rosettes
            <ol>
              <li><span class="list-number">V.d.4(1).</span> Four petals, <%= link_to "165", "catalogue/161-65.html#165" %></li>
              <li><span class="list-number">V.d.4(2).</span> Six petals, <%= link_to "515", "catalogue/515-17.html#515" %>, <%= link_to "532", "catalogue/524-41.html#532" %></li>
              <li><span class="list-number">V.d.4(3).</span> Eight petals, <%= link_to "501", "catalogue/501-2.html#501" %>, <%= link_to "584", "catalogue/582-85.html#584" %></li>
              <li><span class="list-number">V.d.4(4).</span> Ten petals, <%= link_to "478", "catalogue/477-81.html#478" %></li>
              <li><span class="list-number">V.d.4(5).</span> Twelve petals, <%= link_to "194", "catalogue/166-207.html#194" %>, <%= link_to "435", "catalogue/435-40.html#435" %></li>
              <li><span class="list-number">V.d.4(6).</span> Fourteen petals, <%= link_to "433", "catalogue/433-34.html#433" %>, <%= link_to "526", "catalogue/524-41.html#526" %>(?)</li>
              <li><span class="list-number">V.d.4(7).</span> Sixteen petals, <%= link_to "64", "catalogue/52-69.html#64" %>, <%= link_to "341", "catalogue/339-43.html#341" %>, <%= link_to "556", "catalogue/552-57.html#556" %></li>
              <li><span class="list-number">V.d.4(8).</span> Eighteen petals, <%= link_to "218", "catalogue/208-23.html#218" %></li>
              <li><span class="list-number">V.d.4(9).</span> Twenty-two petals, <%= link_to "151", "catalogue/147-60.html#151" %>, <%= link_to "328", "catalogue/327-37.html#328" %></li>
              <li><span class="list-number">V.d.4(10).</span> Twenty-three petals, <%= link_to "562", "catalogue/558-68.html#562" %></li>
              <li><span class="list-number">V.d.4(11).</span> Twenty-four petals, <%= link_to "144–45", "catalogue/143-46-bis.html" %></li>
            </ol>
          </li>
          <li><span class="list-number">V.d.5.</span> Wreaths
            <ol>
              <li><span class="list-number">V.d.5(1).</span> Myrtle wreath, <%= link_to "312", "catalogue/312-14.html#312" %>, <%= link_to "342", "catalogue/339-43.html#342" %></li>
              <li><span class="list-number">V.d.5(2).</span> Oak wreath, <%= link_to "184", "catalogue/166-207.html#184" %>, <%= link_to "281", "catalogue/278-82.html#281" %>, <%= link_to "327", "catalogue/327-37.html#327" %></li>
              <li><span class="list-number">V.d.5(3).</span> Olive or laurel wreath, <%= link_to "73", "catalogue/72-73.html#73" %>(?), <%= link_to "80", "catalogue/76-84.html#80" %>, <%= link_to "173", "catalogue/166-207.html#173" %>, <%= link_to "211", "catalogue/208-23.html#211" %>, <%= link_to "214", "catalogue/208-23.html#214" %>, <%= link_to "223", "catalogue/208-23.html#223" %>, <%= link_to "224", "catalogue/224-38.html#224" %>, <%= link_to "388", "catalogue/376-88.html#388" %>, <%= link_to "493", "catalogue/492-500.html#493" %></li>
              <li><span class="list-number">V.d.5(4).</span> Palm wreath, <%= link_to "73", "catalogue/72-73.html#73" %></li>
            </ol>
          </li>
          <li><span class="list-number">V.d.6.</span> Fleur-de-lis,  <%= link_to "615", "catalogue/614-30.html#615" %> (handle in the shape of)</li>
        </ol>
      </li>
    </ol>
  </li>
  <li><span class="list-number">VI.</span> Geometric Patterns
    <ol>
      <li><span class="list-number">VI.a.</span> Band of Rays, <%= link_to "76", "catalogue/76-84.html#76" %>, <%= link_to "150", "catalogue/147-60.html#150" %>, <%= link_to "152", "catalogue/147-60.html#152" %>, <%= link_to "159", "catalogue/147-60.html#159" %>, <%= link_to "241", "catalogue/239-42.html#241" %>, <%= link_to "379", "catalogue/376-88.html#379" %>, <%= link_to "436", "catalogue/435-40.html#436" %></li>
      <li><span class="list-number">VI.b.</span> Band of Tongues, <%= link_to "368–74", "catalogue/360-74.html" %></li>
      <li><span class="list-number">VI.c.</span> Row of Ovolos, <%= link_to "33", "catalogue/28-37.html#33" %>, <%= link_to "39", "catalogue/38-43.html#39" %>, <%= link_to "44", "catalogue/44-51.html#44" %>, <%= link_to "83–84", "catalogue/76-84.html" %>, <%= link_to "155–56", "catalogue/147-60.html" %>, <%= link_to "165", "catalogue/161-65.html#165" %>, <%= link_to "245", "catalogue/243-47.html#245" %>, <%= link_to "279–80", "catalogue/278-82.html" %>, <%= link_to "314", "catalogue/312-14.html#314" %>, <%= link_to "315–16", "catalogue/315-16.html" %>, <%= link_to "336", "catalogue/327-37.html#336" %>, <%= link_to "347", "catalogue/347.html#347" %>, <%= link_to "348", "catalogue/348.html#348" %>, <%= link_to "353–54", "catalogue/349-54.html" %>, <%= link_to "361–67", "catalogue/360-74.html" %>, <%= link_to "418–19", "catalogue/418-27.html" %>, <%= link_to "421–27", "catalogue/418-27.html" %>, <%= link_to "460", "catalogue/459-60.html#460" %>, <%= link_to "468", "catalogue/463-71.html#468" %>, <%= link_to "485", "catalogue/485-86.html#485" %>, <%= link_to "518", "catalogue/518.html#518" %>, <%= link_to "584", "catalogue/582-85.html#584" %>, <%= link_to "621", "catalogue/614-30.html#621" %>, <%= link_to "624", "catalogue/614-30.html#624" %></li>
      <li><span class="list-number">VI.d.</span> Star Design, <%= link_to "498–99", "catalogue/492-500.html" %>, <%= link_to "534", "catalogue/524-41.html#534" %></li>
    </ol>
  </li>
</ol>
