---
title: Index of Signatures and Inscriptions
layout: index
sort_order: 202
---

### Latin Inscriptions

Forty-five percent of the Getty lamps bear an inscription or a mark. Only one metal lamp has an inscription, <span class="inscription">ROI</span> (<%= link_to "cat. 616", "catalogue/614-30.html" %>). Of the 286 marks on clay lamps, 132 are lampmakers’ names, indicated either in *nomina*, *tria nomina*, or initials. All the legible signatures are known from other lamps, except <span class="inscription">SOTE</span> and <span class="inscription">Q.M.Q.</span> and seven signatures of uncertain reading: <span class="inscription">ANSASIVS, EXOF[-]/CV[-]/OV[-]RS/I[-], EXOFICINA RO[-]YTI, IAR, MMPAXI/M[—], NAT, RV.VSI</span>; all except the last two are most probably African.

The remaining marks consist of figurative motifs such as an ovolo, a palmette, vertical lines, a plain *planta pedis*, a rosette, a swastika, a trident, etc. These marks appear alone or associated with a lampmaker’s signature. Their meaning is not clear; some may help to identify a workshop, others may be purely decorative motifs (see Bailey BM ii, pp. 104–8; <a href='../bibliography/#bussiere-2000'>Bussière 2000</a>, pp. 233–36).

#### Lampmakers’ Signatures
{: .index-indent }

| Workshop name | Cat. no. | Remark | Place of manufacture | Period of activity |
|---------------|----------|--------|----------------------|--------------------|
| <span class="inscription">ANSASIUS</span> | <%= link_to "400", "catalogue/396-401.html" %> | | African? | |
| <span class="inscription">ATIMETI</span> | <%= link_to "445", "catalogue/442-48.html" %> | | Italic | Flavian |
| <span class="inscription">AVFIFRON</span> | <%= link_to "359", "catalogue/357-59.html" %> | | African | A.D. 130–170 |
| <span class="inscription">AVGENDI</span> | <%= link_to "378", "catalogue/376-88.html" %>, <%= link_to "384", "catalogue/376-88.html" %> | | African | A.D. 175–225 |
| <span class="inscription">AVGVS/TIANI</span> | <%= link_to "375", "catalogue/375.html" %> | | African | A.D. 175–225 |
| <span class="inscription">CAMPILI</span> | <%= link_to "450", "catalogue/449-50.html" %> | | Italic | Flavian to 2nd century A.D |
| <span class="inscription">CCLOD//CCLOD</span> | <%= link_to "180", "catalogue/166-207.html" %> | in *planta pedis* | Italic | A.D. 40–70
| <span class="inscription">CCLOSV</span>, <span class="inscription">CCLOSVC</span>, <span class="inscription">CCLO.SVC</span> | <%= link_to "205", "catalogue/166-207.html" %>, <%= link_to "215", "catalogue/208-23.html" %>, <%= link_to "255–59", "catalogue/248-65.html" %> | | Italic, with African branches | A.D. 80/90–140 Flavian |
| <span class="inscription">CCORVRS</span> | <%= link_to "287", "catalogue/283-302.html" %> | | African | A.D 150/160–180 |
| <span class="inscription">CEIS</span> (for <span class="inscription">CFELIS</span>) | <%= link_to "296", "catalogue/283-302.html" %> | in *planta pedis* on Loeschcke type VIII | African | Late Flavian–Early Antonine |
| <span class="inscription">CHELIAN</span> | <%= link_to "393", "catalogue/389-93.html" %> | | African | A.D. 175–225
| <span class="inscription">CLO.HEL</span> | <%= link_to "308", "catalogue/307-11.html" %>, <%= link_to "342", "catalogue/339-43.html" %> | | Italic | A.D. 80–150
| <span class="inscription">CLO.HELI</span> | <%= link_to "283", "catalogue/283-302.html" %> | | Italic | A.D. 80–150 |
| <span class="inscription">CMEPO</span> (for <span class="inscription">CMEVPO</span>) | <%= link_to "268", "catalogue/268.html" %> | | African | 1st half of 2nd century A.D. |
| <span class="inscription">COPPIRES</span>, <span class="inscription">C.OPPI.RES</span> | <%= link_to "142", "catalogue/130-42.html" %>, <%= link_to "200", "catalogue/166-207.html" %>, <%= link_to "211", "catalogue/208-23.html" %>, <%= link_to "220", "catalogue/208-23.html" %>, <%= link_to "241", "catalogue/239-42.html" %>, <%= link_to "284", "catalogue/283-302.html" %>, <%= link_to "300", "catalogue/283-302.html" %> | | Italic | A.D. 80–160 |
| <span class="inscription">CPOMPO</span> | <%= link_to "389", "catalogue/389-93.html" %> | | Italic | end of 2nd century A.D. |
| <span class="inscription">EROTIS</span> | <%= link_to "228", "catalogue/224-38.html" %> | | Italic | A.D. 80/90–140 |
| <span class="inscription">EVCARP</span> | <%= link_to "446", "catalogue/442-48.html" %> | | Italic | Flavian |
| <span class="inscription">EXOFICI/NA C.V.S.</span>, <span class="inscription">EX OFICINA.C.V.S.</span> | <%= link_to "315–16", "catalogue/315-316.html" %>, <%= link_to "317", "catalogue/317-22.html" %> | 317 is inscribed on discus | African | A.D. 175–225 |
| <span class="inscription">EXOF[-]/CV[-]/OV[-]RS/I[-]</span> | <%= link_to "486", "catalogue/485-86.html" %> | | African | 2nd half of 3rd century A.D.? |
| <span class="inscription">EX OFI/CINA/KAPTIO/NIS</span> | <%= link_to "381", "catalogue/376-88.html" %> | | African | 1st half of 3rd century A.D. |
| <span class="inscription">EXOF/ICINI/LVCI</span> | <%= link_to "313", "catalogue/312-14.html" %> | |  African | some time in 2nd century A.D.? |
| <span class="inscription">EXOFICINA RO[-]YTI</span>? | <%= link_to "380", "catalogue/376-88.html" %> | | African | 1st half of 3rd century A.D. |
| <span class="inscription">EXOFLO/CCEIORV</span> | <%= link_to "302", "catalogue/283-302.html" %> | | African | A.D. 175–225 |
| <span class="inscription">FABRICMASC</span> | <%= link_to "286", "catalogue/283-302.html" %> | | Italic | A.D. 80/90–140
| <span class="inscription">FORTIS</span> | <%= link_to "442–43", "catalogue/442-43.html" %> | | Italic | A.D. 70–A.D. 230 |
| <span class="inscription">GABINIA</span> | <%= link_to "206", "catalogue/166-207.html" %>, <%= link_to "214", "catalogue/208-23.html" %> | | Italic, with African | A.D. 80–140
| <span class="inscription">GABMERC</span> | <%= link_to "235", "catalogue/224-38.html" %> | | Italic | A.D. 80–100
| <span class="inscription">IAR</span>? | <%= link_to "488", "catalogue/482-88.html" %> | | African? | sometime in the 4th century A.D.?
| <span class="inscription">IVNIALEXI</span> | <%= link_to "292–93", "catalogue/283-302.html" %> | | African | A.D. 120–200 |
| <span class="inscription">vsti</span> | <%= link_to "290", "catalogue/283-302.html" %> | | African | end of Flavian to Trajanic |
| <span class="inscription">LMA.D.IEC</span>, <span class="inscription">L.MADIEC</span>, <span class="inscription">LMADIEC</span>, <span class="inscription">L.M.ADIEC</span> | <%= link_to "224–25", "catalogue/224-38.html" %>, <%= link_to "233", "catalogue/224-38.html" %>, <%= link_to "260–62", "catalogue/248-65.html" %>, <%= link_to "298", "catalogue/283-302.html" %>, <%= link_to "448", "catalogue/442-48.html" %> | | Italic, with African branches | A.D 90–140 |
| <span class="inscription">L.M.C</span> | <%= link_to "189", "catalogue/166-207.html" %> | | Italic | A.D. 40–90 |
| <span class="inscription">L.M.SA</span> | <%= link_to "202", "catalogue/166-207.html" %>, <%= link_to "232", "catalogue/224-38.html" %> | | African | Tiberian–Early Trajanic |
| <span class="inscription">LMVNPHILE</span>, <span class="inscription">L.MVNPHILE</span> | <%= link_to "297", "catalogue/283-302.html" %>, <%= link_to "310", "catalogue/307-11.html" %>, <%= link_to "346", "catalogue/346.html" %> | | Italic, with African branches | end of Flavian to Hadrianic |
| <span class="inscription">LMVNSVC</span>, <span class="inscription">L.MVNSVC</span>, <span class="inscription">L.MVN.SVC</span> | <%= link_to "203", "catalogue/166-207.html" %>, <%= link_to "234", "catalogue/224-38.html" %>, <%= link_to "236", "catalogue/224-38.html" %>, <%= link_to "252–53", "catalogue/248-65.html" %>, <%= link_to "271", "catalogue/269-71.html" %>  | | Italic, with African branches | end of Flavian to Trajanic |
| <span class="inscription">L.M.SV</span> | <%= link_to "230", "catalogue/224-38.html" %> | | Italic with African branches | end of Flavian to Trajanic |
| <span class="inscription">LVC</span> | <%= link_to "272", "catalogue/272.html" %> | in *planta pedis* | Italic | A.D. 50–80 |
| <span class="inscription">LVCCE/I</span> | <%= link_to "319", "catalogue/317-22.html" %> | | African | A.D. 175–225
| <span class="inscription">lLVCCEIO/RVM</span> | <%= link_to "314", "catalogue/312-14.html" %> | | African | A.D. 175–225
| <span class="inscription">MMPAXI/M[—]</span>? | <%= link_to "317", "catalogue/317-22.html" %>  | | African | A.D. 175–225 |
| <span class="inscription">MNOVGERM</span>, <span class="inscription">M.nov.germ</span> | <%= link_to "146", "catalogue/143-46-bis.html" %>, <%= link_to "309", "catalogue/307-11.html" %> | | African | A.D. 120–180 |
| <span class="inscription">MNOVIV</span> | <%= link_to "294", "catalogue/283-302.html" %> | | African | A.D. 120–180 |
| <span class="inscription">MNOVIVST</span> | <%= link_to "289", "catalogue/283-302.html" %>, <%= link_to "311", "catalogue/307-11.html" %> | | African | A.D. 120–180 |
| <span class="inscription">MNOVISTI</span> | <%= link_to "285", "catalogue/283-302.html" %>, <%= link_to "289", "catalogue/307-11.html" %> | | African | A.D. 120–180 |
| <span class="inscription">M.S.</span> | <%= link_to "184", "catalogue/166-207.html" %> | if = <span class="inscription">L.M.SV</span>, see <%= link_to "230", "catalogue/224-38.html" %> | | |
| <span class="inscription">M SV</span> | <%= link_to "204", "catalogue/166-207.html" %>, <%= link_to "254", "catalogue/248-65.html" %> | if = <span class="inscription">L.M.SV</span>, see <%= link_to "230", "catalogue/224-38.html" %> | | Tiberian to Early Trajanic |
| <span class="inscription">MVNARES</span> | <%= link_to "227", "catalogue/224-38.html" %> | | Italic | Flavian to Trajanic? |
| <span class="inscription">MVERCEVP</span> | <%= link_to "229", "catalogue/224-38.html" %> | | Italic | Flavian to Trajanic |
| <span class="inscription">NNAELVCI</span> | <%= link_to "305", "catalogue/305-6.html" %>, <%= link_to "345", "catalogue/344-45.html" %> | | Italic | end of Flavian to Hadrianic |
| <span class="inscription">NAT</span> | <%= link_to "101", "catalogue/87-117.html" %> | above a plain *planta pedis* in big letters | ? | ? |
| <span class="inscription">OCTAVI</span> | <%= link_to "449", "catalogue/449-50.html" %> | | Italic | 2nd century A.D. |
| <span class="inscription">PHOETASPI</span> | <%= link_to "144", "catalogue/143-146-bis.html" %> | | Italic based in Egypt | late 1st century A.D.–early 2nd century A.D. |
| <span class="inscription">PORCI</span> | <%= link_to "465", "catalogue/463-71.html" %> | |  African | end of 3rd century A.D.
| <span class="inscription">POSSESSO/RVM</span> | <%= link_to "463", "catalogue/463-71.html" %> | | African | A.D. 175–230 |
| <span class="inscription">PVF PVF</span> | <%= link_to "213", "catalogue/208-23.html" %> | in *planta pedis* | Italic | A.D. 60–90 |
| <span class="inscription">PVLCRHI</span> | <%= link_to "447", "catalogue/442-48.html" %> | | Italic | Flavian |
| <span class="inscription">PVLL/AENI</span> | <%= link_to "379", "catalogue/376-88.html" %>, <%= link_to "466", "catalogue/463-71.html" %> | |  African | end of Antonine–Severan
| <span class="inscription">PVLL/AENO/RV</span> | <%= link_to "364", "catalogue/360-74.html" %> | |  African | end of Antonine–Severan |
| <span class="inscription">Q.M.Q.</span> | <%= link_to "340", "catalogue/339-43.html" %> | | ? | Late Flavian–Early Antonine |
| <span class="inscription">QNVMICEL</span> | <%= link_to "343", "catalogue/339-43.html" %>, <%= link_to "362", "catalogue/360-72.html" %> | |  Italic | end of Flavian to Hadrianic
| <span class="inscription">QVINTVSIVSPICTORETCENES</span> | <%= link_to "401", "catalogue/396-401.html" %> | | African | end of 3rd century A.D.? |
| <span class="inscription">ROMANE/SIS</span> | <%= link_to "440", "catalogue/435-40.html" %> | | Italic based at Cnidus | A.D. 70–130 |
| <span class="inscription">ROI</span> | <%= link_to "616", "catalogue/614-30.html" %> | on a bronze lamp  | ? | ? |
| <span class="inscription">RV.VSI</span>? | <%= link_to "276", "catalogue/276-77.html" %> | | Italic? | ? |
| <span class="inscription">SERGPRIM</span> | <%= link_to "347", "catalogue/347.html" %> | Italic | 1st half of 1st century A.D.
| <span class="inscription">SLMRMEVO</span> | <%= link_to "301", "catalogue/283-302.html" %> | fake lamp | Italian forger | modern |
| <span class="inscription">SOTE</span> | <%= link_to "201", "catalogue/166-207.html" %> | | African | Tiberian–early Trajanic |
| <span class="inscription">STROBILI</span> | <%= link_to "444", "catalogue/442-48.html" %> | | Italic based in Egypt | Flavian |
| <span class="inscription">VICT/ORINI</span> | <%= link_to "468", "catalogue/463-71.html" %> | | African | 1st quarter of 4th century A.D. |
{: .index-indent }

- #### Lampmakers’ Signatures (*continued*)
  - ##### Illegible *Tria Nomina* Signatures
    - <%= link_to "85", "catalogue/85-86.html" %>, <%= link_to "94", "catalogue/87-117.html" %> (<span class="inscription">C[–] I F</span>?), <%= link_to "217", "catalogue/208-23.html" %>, <%= link_to "263", "catalogue/248-65.html" %>, <%= link_to "278", "catalogue/278-82.html" %>, <%= link_to "288", "catalogue/283-302.html" %>, <%= link_to "312", "catalogue/312-14.html" %>
  - ##### Initials
    - <span class="inscription">A</span>, <%= link_to "91", "catalogue/87-117.html" %>; <span class="inscription">C</span>, <%= link_to "199", "catalogue/166-207.html" %>; <span class="inscription">C.L</span>, <%= link_to "324", "catalogue/324-25.html" %>; <span class="inscription">D</span>, <%= link_to "192", "catalogue/166-207.html" %>, <%= link_to "214", "catalogue/208-23.html" %>?; <span class="inscription">I</span>? <%= link_to "188", "catalogue/166-207.html" %>; <span class="inscription">N</span>, <%= link_to "72", "catalogue/72-73.html" %>; <span class="inscription">P.A.</span>, <%= link_to "134", "catalogue/130-42.html" %>; <span class="inscription">S</span>, <%= link_to "222", "catalogue/208-23.html" %>, <%= link_to "283", "catalogue/283-302.html" %>; <span class="inscription">T</span>, <%= link_to "219", "catalogue/208-23.html" %>, <%= link_to "289", "catalogue/283-302.html" %>; <span class="inscription">V</span>, <%= link_to "191", "catalogue/166-207.html" %>; <span class="inscription">X</span>, <%= link_to "254", "catalogue/248-65.html" %>; <span class="inscription">Y</span>, <%= link_to "37", "catalogue/28-37.html" %>
- #### Illegible *Planta Pedis*
  - <%= link_to "109–10", "catalogue/87-117.html" %>, <%= link_to "124", "catalogue/119-29.html" %>, <%= link_to "141", "catalogue/130-42.html" %>, <%= link_to "154", "catalogue/147-60.html" %>, <%= link_to "212", "catalogue/208-23.html" %>, <%= link_to "250", "catalogue/248-65.html" %>
- #### Various Other Inscriptions
  - New year wishes: <span class="inscription"> . . . FAVSTUMFELICEMMIHIC</span> (the well-known inscription <span class="inscription">ANNVMNOVM FASTVMFELICEMMIHIC</span>) inscribed on Victory 's shield, <%= link_to "248", "catalogue/248-65.html" %>
  - Victorious horse: <span class="inscription">REGNATOR</span> inscribed on discus, <%= link_to "305", "catalogue/305-6.html" %>
  - Victorious charioteer: <span class="inscription">TERES</span> inscribed *in tabula ansata* on discus, <%= link_to "222", "catalogue/208-23.html" %>
  - Victorious gladiators: <span class="inscription">SABINVS</span> and <span class="inscription">POPILLIVS</span> inscribed *in tabula ansata* on discus, <%= link_to "107", "catalogue/87-117.html" %>
  - Victorious gladiator: <span class="inscription">VALERIVS</span> inscribed *in tabula ansata* on discus, <%= link_to "199", "catalogue/166-207.html" %>
  - Propaganda: <span class="inscription">OB CIIVIS[VATOS]</span> inscribed on the shield of a Victory, <%= link_to "98", "catalogue/87-117.html" %>
{: .index-indent }

### Greek Inscriptions

*Of the eleven Greek inscriptions, no name is previously known from other lamps.*

- #### Name of the Lampmaker or of the Owner of the Lamp
  - <span class="inscription">C Y E</span>? <%= link_to "42", "catalogue/38-43.html" %>
  - <span class="inscription">CΩCIBIOY</span>, <%= link_to "47", "catalogue/44-51.html" %>
  - <span class="inscription">E I C // I Ω / N // O C</span>, <%= link_to "155", "catalogue/147-60.html" %>
  - <span class="inscription">ΕΥΚΤΗΡΟΝΟΥ</span>, <%= link_to "582", "catalogue/582-85.html" %>
- #### Name of the Lampmaker
  - <span class="inscription">ΠΥ</span>, <%= link_to "83", "catalogue/76-84.html" %>
  - <span class="inscription">ΕΠΑΦΡΑC ΤΥΧACΙΟΥ</span>, <%= link_to "42", "catalogue/38-43.html" %>
- #### Religious Meaning
  - <span class="inscription">EΥΛΟΓΙΑΤΗCΘΕΟΤΟΚYΜΗ[ . . . . ]ΙΓΡΑΜΑ</span>, <%= link_to "548", "catalogue/548-49.html" %>
  - <span class="inscription">ΦENIΠACINΦΩCXPICTO</span>, <%= link_to "557", "catalogue/552-57.html" %>
- #### Commercial Meaning
  - <span class="inscription">ΦΩC/ΑΓΑ/ΘΟΝ</span>, <%= link_to "36", "catalogue/28-37.html" %>
- #### Three First Letters of the Greek Alphabet on a Scroll
  - <span class="inscription">ABΓ</span>, <%= link_to "587", "catalogue/586-609.html" %>
- #### Uncertain Reading
  - <span class="inscription">ΕΡΩ/TΡΑ/O(?)ΥΡΥΟC</span>, <%= link_to "50", "catalogue/44-51.html" %>
{: .index-indent }

### Makers’ Figurative Marks

- Plain *planta pedis* <%= link_to "99", "catalogue/87-117.html" %>, <%= link_to "101", "catalogue/87-117.html" %>, <%= link_to "130", "catalogue/130-42.html" %>, <%= link_to "153", "catalogue/147-60.html" %>, <%= link_to "170", "catalogue/166-207.html" %>, <%= link_to "187", "catalogue/166-207.html" %>, <%= link_to "209", "catalogue/208-23.html" %>, <%= link_to "221", "catalogue/208-23.html" %>, <%= link_to "240", "catalogue/239-42.html" %>, <%= link_to "242", "catalogue/239-42.html" %>, <%= link_to "248", "catalogue/248-65.html" %>, <%= link_to "251", "catalogue/248-65.html" %>, <%= link_to "304", "catalogue/303-4.html" %>, <%= link_to "331", "catalogue/327-37.html" %>, <%= link_to "337", "catalogue/327-37.html" %>, <%= link_to "342", "catalogue/339-43.html" %>, <%= link_to "344", "catalogue/344-45.html" %>, <%= link_to "349–50", "catalogue/349-54.html" %>, <%= link_to "352", "catalogue/349-54.html" %>, <%= link_to "397", "catalogue/396-401.html" %>, <%= link_to "402", "catalogue/402-17.html" %>(?), <%= link_to "403–5", "catalogue/402-17.html" %>, <%= link_to "407–10", "catalogue/402-17.html" %>, <%= link_to "412", "catalogue/402-17.html" %>, <%= link_to "414–16", "catalogue/402-17.html" %>, <%= link_to "418–20", "catalogue/418-27.html" %>, <%= link_to "422", "catalogue/418-27.html" %>, <%= link_to "424–27", "catalogue/418-27.html" %>, <%= link_to "429", "catalogue/429.html" %>, <%= link_to "431", "catalogue/430-32.html" %>, <%= link_to "435", "catalogue/435-40.html" %>, <%= link_to "455", "catalogue/455-58.html" %>, <%= link_to "513", "catalogue/513.html" %>, <%= link_to "514", "catalogue/514.html" %>, <%= link_to "520", "catalogue/520.html" %>, <%= link_to "521", "catalogue/521.html" %>, <%= link_to "522", "catalogue/522-23.html" %>, <%= link_to "524–25", "catalogue/524-41.html" %>, <%= link_to "526–29", "catalogue/524-41.html" %>, <%= link_to "531–34", "catalogue/524-41.html" %>, <%= link_to "537–38", "catalogue/524-41.html" %>, <%= link_to "541", "catalogue/524-41.html" %>, <%= link_to "547", "catalogue/543-47.html" %>, <%= link_to "560", "catalogue/558-68.html" %>, <%= link_to "596", "catalogue/586-609.html" %>

### Other Figurative Marks

<table id="stamps-table">
  <tbody>
    <tr class="catalogue-numbers"><td><%= link_to "188", "catalogue/166-207.html" %></td><td><%= link_to "104", "catalogue/87-117.html" %></td><td><%= link_to "137", "catalogue/130-42.html" %></td><td><%= link_to "231", "catalogue/224-38.html" %></td><td><%= link_to "243", "catalogue/243-47.html" %></td><td></td></tr>
    <tr class="stamps"><td><img src="../assets/images/stamps/stamp_188.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_104.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_137.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_231.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_243.jpg" alt="" /></td><td></td></tr>
    <tr class="catalogue-numbers"><td><%= link_to "70", "catalogue/70-71.html" %></td><td><%= link_to "291", "catalogue/283-302.html" %></td><td><%= link_to "398", "catalogue/396-401.html" %></td><td></td><td></td><td></td></tr>
    <tr class="stamps"><td><img src="../assets/images/stamps/stamp_70.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_291.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_398.jpg" alt="" /></td><td></td><td></td><td></td></tr>
    <tr class="catalogue-numbers"><td><%= link_to "94", "catalogue/87-117.html" %></td><td><%= link_to "175", "catalogue/166-207.html" %></td><td><%= link_to "176", "catalogue/166-207.html" %></td><td></td><td></td><td></td></tr>
    <tr class="stamps"><td><img src="../assets/images/stamps/stamp_94.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_175.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_176.jpg" alt="" /></td><td></td><td></td><td></td></tr>
    <tr class="catalogue-numbers"><td><%= link_to "39", "catalogue/38-43.html" %></td><td><%= link_to "191", "catalogue/166-207.html" %></td><td><%= link_to "192", "catalogue/166-207.html" %></td><td><%= link_to "219", "catalogue/208-23.html" %></td><td><%= link_to "222", "catalogue/208-23.html" %></td><td><%= link_to "584", "catalogue/582-85.html" %></td></tr>
    <tr class="stamps"><td><img src="../assets/images/stamps/stamp_39.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_191.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_192.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_219.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_222.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_584.jpg" alt="" /></td></tr>
    <tr class="catalogue-numbers"><td><%= link_to "200", "catalogue/166-207.html" %></td><td><%= link_to "228", "catalogue/224-38.html" %></td><td><%= link_to "236", "catalogue/224-38.html" %></td><td><%= link_to "253", "catalogue/248-65.html" %></td><td><%= link_to "254", "catalogue/248-65.html" %></td><td><%= link_to "258", "catalogue/248-65.html" %></td></tr>
    <tr class="stamps"><td><img src="../assets/images/stamps/stamp_200.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_228.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_236.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_253.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_254.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_258.jpg" alt="" /></td></tr>
    <tr class="catalogue-numbers"><td><%= link_to "286", "catalogue/283-302.html" %></td><td><%= link_to "289", "catalogue/283-302.html" %></td><td><%= link_to "294", "catalogue/283-302.html" %></td><td><%= link_to "297", "catalogue/283-302.html" %></td><td><%= link_to "283", "catalogue/283-302.html" %></td><td><%= link_to "342", "catalogue/339-43.html" %></td></tr>
    <tr class="stamps"><td><img src="../assets/images/stamps/stamp_286.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_289.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_294.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_297.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_283.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_342.jpg" alt="" /></td></tr>
    <tr class="catalogue-numbers"><td><%= link_to "315", "catalogue/315-16.html" %></td><td><%= link_to "378", "catalogue/376-88.html" %></td><td><%= link_to "440", "catalogue/435-40.html" %></td><td></td><td></td><td></td></tr>
    <tr class="stamps"><td><img src="../assets/images/stamps/stamp_315.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_378.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_440.jpg" alt="" /></td><td></td><td></td><td></td></tr>
    <tr class="catalogue-numbers"><td><%= link_to "364", "catalogue/360-74.html" %>, <%= link_to "365", "catalogue/360-74.html" %>, <%= link_to "370", "catalogue/360-74.html" %>, <%= link_to "373", "catalogue/360-74.html" %>, <%= link_to "377", "catalogue/376-88.html" %>, <%= link_to "387", "catalogue/376-88.html" %>, <%= link_to "389", "catalogue/389-93.html" %>, <%= link_to "391", "catalogue/389-93.html" %>, <%= link_to "392", "catalogue/389-93.html" %>, <%= link_to "394", "catalogue/394-95.html" %>, <%= link_to "395", "catalogue/394-95.html" %></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr class="stamps"><td><img src="../assets/images/stamps/stamp_various-cats.jpg" alt="" /></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr class="catalogue-numbers"><td><%= link_to "369", "catalogue/360-74.html" %></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr class="stamps"><td><img src="../assets/images/stamps/stamp_369.jpg" alt="" /></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr class="catalogue-numbers"><td><%= link_to "367", "catalogue/360-74.html" %></td><td><%= link_to "374", "catalogue/360-74.html" %></td><td></td><td></td><td></td><td></td></tr>
    <tr class="stamps"><td><img src="../assets/images/stamps/stamp_367.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_374.jpg" alt="" /></td><td></td><td></td><td></td><td></td></tr>
    <tr class="catalogue-numbers"><td><%= link_to "439", "catalogue/435-40.html" %></td><td><%= link_to "501", "catalogue/501-2.html" %></td><td><%= link_to "502", "catalogue/501-2.html" %></td><td></td><td></td><td></td></tr>
    <tr class="stamps"><td><img src="../assets/images/stamps/stamp_439.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_501.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_502.jpg" alt="" /></td><td></td><td></td><td></td></tr>
    <tr class="catalogue-numbers"><td><%= link_to "517", "catalogue/515-17.html" %></td><td><%= link_to "535", "catalogue/524-41.html" %></td><td><%= link_to "543", "catalogue/543-47.html" %></td><td><%= link_to "545", "catalogue/543-47.html" %></td><td></td><td></td></tr>
    <tr class="stamps"><td><img src="../assets/images/stamps/stamp_517.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_535.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_543.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_545.jpg" alt="" /></td><td></td><td></td></tr>
    <tr class="catalogue-numbers"><td><%= link_to "372", "catalogue/360-74.html" %></td><td><%= link_to "549", "catalogue/548-49.html" %></td><td><%= link_to "551", "catalogue/550-51.html" %></td><td><%= link_to "500", "catalogue/492-500.html" %></td><td><%= link_to "572", "catalogue/569-72.html" %></td><td></td></tr>
    <tr class="stamps"><td><img src="../assets/images/stamps/stamp_372.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_549.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_551.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_500.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_572.jpg" alt="" /></td><td></td></tr>
    <tr class="catalogue-numbers"><td><%= link_to "166", "catalogue/166-207.html" %></td><td><%= link_to "421", "catalogue/418-27.html" %></td><td><%= link_to "600", "catalogue/586-609.html" %></td><td></td><td></td><td></td></tr>
    <tr class="stamps"><td><img src="../assets/images/stamps/stamp_166.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_421.jpg" alt="" /></td><td><img src="../assets/images/stamps/stamp_600.jpg" alt="" /></td><td></td><td></td><td></td></tr>
  </tbody>
</table>
