---
title: Ancient Lamps in the J. Paul Getty Museum
layout: false
---
!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title= current_page.data.title
    = stylesheet_link_tag "print-basic"
  %body{ class: "print-frontmatter" }
    / Print Frontmatter
    .print__cover
    .print__halftitle
      %h1.print__halftitle__title= data.book.title.short
      %h2.print__halftitle__subtitle= data.book.title.subtitle
    .print__titlepage__left
      %p
        The #{data.book.imprint}
        %br
        #{data.book.publisher_location}
    .print__titlepage__right
      %h1.print__titlepage__right__title= data.book.title.short
      %h2.print__titlepage__right__subtitle= data.book.title.subtitle
      %h3.print__titlepage__right__author= data.book.author_as_it_appears[0]
    .print__copyright
      .description
        :markdown
          The free online edition of this catalogue, available at [http://www.getty.edu/publications/ancientlamps](http://www.getty.edu/publications/ancientlamps), includes zoomable high-resolution photography. Also available are free PDF, EPUB, and MOBI downloads of the book, CSV and JSON downloads of the object data from the catalogue, and JPG downloads of the main catalogue images.
      = partial "partials/copyright_license_print"
      .revision-history
        - if data.book.revision_history.size > 1
          %p
            First edition, #{data.book.pub_date.year}<br />Last updated, #{data.book.revision_history.last.date}<br />
            %a= data.book.repository_url
        - else
          %p
            First edition, #{data.book.pub_date.year}<br />
            %a= data.book.repository_url
      = partial "partials/publisher_team"
      .distribution
        %p
          Distributed in the United States and Canada by the University of Chicago Press
          %br
          Distributed outside the United States and Canada by Yale University Press, London
        %p
          Printed in the United States of America
      = partial "partials/library_of_congress_data"
      %ul.illustration-credits
        %li Front cover: Cat. 86
        %li Back cover: Cat. 155
        %li Pages iii–iv: Cats. 626a, 626b
        %li Page 3: Detail of cat. 120
        %li Page 472: Detail of cat. 384
      %p
        Drawings by Jean-Claude Rivel: Figs. 1, 2; Stamps, by cat. no.: 39, 70, 94, 104, 137, 166, 175, 176, 188, 191, 200, 219, 228, 231, 236, 243, 254, 258, 283, 286, 289, 291, 294, 297, 315, 342, 364, 365, 367, 369, 372, 373, 374, 377, 378, 387, 389, 391, 392, 394, 395, 398, 421, 440, 500, 501, 517, 535, 543, 545, 549, 551, 572, 600
      .related-titles
        %p
          Also from Getty Publications
        %ul
          %li <em>Ancient Terracottas from South Italy and Sicily in the J. Paul Getty Museum</em>, Maria Lucia Ferruzza
          %li <em>Roman Mosaics in the J. Paul Getty Museum</em>, Alexis Belis
