---
title: Ancient Lamps in the J. Paul Getty Museum
layout: false
---
!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title= current_page.data.title
    = stylesheet_link_tag "print-basic"
  %body{ class: "print-frontmatter" }
    / Print Frontmatter
    .print__cover
    .print__halftitle
      %h1.print__halftitle__title= data.book.title.short
      %h2.print__halftitle__subtitle= data.book.title.subtitle
    .print__titlepage__left
      %p
        #{data.book.imprint}
        %br
        #{data.book.publisher_location}
    .print__titlepage__right
      %h1.print__titlepage__right__title= data.book.title.short
      %h2.print__titlepage__right__subtitle= data.book.title.subtitle
      %h3.print__titlepage__right__author= data.book.author_as_it_appears[0]
    .print__copyright
      .description
        :markdown
          The free online edition of this catalogue, available at [http://www.getty.edu/publications/ancientlamps](http://www.getty.edu/publications/ancientlamps), includes zoomable high-resolution photography. Also available are free PDF, EPUB, and MOBI downloads of the book, CSV and JSON downloads of the object data from the catalogue, and JPG downloads of the main catalogue images.
      = partial "partials/copyright_license_print"
      .revision-history
        - if data.book.revision_history.size > 1
          %p
            First edition, #{data.book.pub_date.year}<br />Last updated, #{data.book.revision_history.last.date}<br />
            %a= data.book.repository_url
        - else
          %p
            First edition, #{data.book.pub_date.year}<br />
            %a= data.book.repository_url
      = partial "partials/publisher_team"
      .distribution
        %p
          Distributed in the United States and Canada by the University of Chicago Press
          %br
          Distributed outside the United States and Canada by Yale University Press, London
        %p
          Printed in the United States of America
      = partial "partials/library_of_congress_data"
      %ul.illustration-credits
        %li Credits go Here
