---
title: Typological Classification
layout: page
sort_order: 7
---

<ol type="I" class="classification" markdown="0">
  <li>Phoenico-Punic Clay Saucer Lamps
    <ol type="1">
      <li>Vessberg type 1 <%= link_to "cats. 1–2", "catalogue/1-4.html" %></li>
      <li>Deneauve type X <%= link_to "cats. 3–4", "catalogue/1-4.html" %></li>
    </ol>
  </li>
  <li>Greek and Hellenistic Clay Lamps
    <ol type="A">
      <li>Wheelmade Lamps
        <ol type="1">
          <li>Howland type 22 B <%= link_to "cat. 5", "catalogue/5.html" %></li>
          <li>Broneer type I <%= link_to "cat. 6", "catalogue/6.html" %></li>
          <li>Broneer type IV <%= link_to "cats. 7–8", "catalogue/7-8.html" %></li>
          <li>Goldman group VIII <%= link_to "cat. 9", "catalogue/9.html" %></li>
          <li>Howland type 25 A Prime <%= link_to "cats. 10–12", "catalogue/10-12.html" %></li>
          <li>Howland type 32 <%= link_to "cats. 13–15", "catalogue/13-15.html" %></li>
          <li>Howland type 33 A <%= link_to "cat. 16", "catalogue/16.html" %></li>
          <li>Howland type 40 A, also called "Cnidian" type <%= link_to "cat. 17", "catalogue/17.html" %></li>
          <li>Bruneau's <em>Lampes Cnidiennes à entonnoir central</em> group III
            <%= link_to "cat. 18", "catalogue/18.html" %>
          </li>
          <li>Pavolini's biconical Esquiline type <%= link_to "cat. 19", "catalogue/19.html" %></li>
          <li>Ricci type D <%= link_to "cat. 20", "catalogue/20.html" %></li>
          <li>Undetermined Hellenistic types <%= link_to "cats. 21–27", "catalogue/21-27.html" %></li>
        </ol>
      </li>
      <li>Moldmade Lamps
        <ol type="1">
          <li>"Ephesus lamps"
            <ol type="a">
              <li>"Ephesus lamps" with triangular nozzle <%= link_to "cats. 28–37", "catalogue/28-37.html" %></li>
              <li>"Ephesus lamps" with round nozzle and flat plate surrounding wick-hole
                <%= link_to "cats. 38-43", "catalogue/38-43.html" %>
              </li>
            </ol>
          </li>
          <li>Asia Minor Hellenistic lamps with two side-lugs
            <%= link_to "cats. 44–51", "catalogue/44-51.html" %>
          </li>
          <li>Miscellaneous types of Hellenistic lamps <%= link_to "cats. 52–69", "catalogue/52-69.html" %></li>
        </ol>
      </li>
    </ol>
  </li>
  <li>Roman-Period Clay Lamps
    <ol type="A">
      <li>Types from both Western and Eastern Provinces of the Roman Empire
        <ol type="a">
          <li>Late Republican Lamps
            <ol type="1">
              <li>Dressel type 2 (<em>Warzenlampen</em>) <%= link_to "cats. 70–71", "catalogue/70-71.html" %></li>
              <li>Dressel type 3 <%= link_to "cats. 72–73", "catalogue/72-73.html" %></li>
              <li>Dressel type 4 (<em>Vogelkopflampe</em>) <%= link_to "cat. 74", "catalogue/74.html" %></li>
              <li>Bailey type M (i) (late <em>Vogelkopflampe</em>)<%= link_to "cat. 75", "catalogue/75.html" %></li>
            </ol>
          </li>
          <li>Augustan and Imperial Lamps
            <ol type="1">
              <li>Loeschcke type I
                <ol class="sub-decimal">
                  <li><span class="list-number">1.1.</span> Loeschcke type I A = Bailey type A group i
                    <%= link_to "cats. 76–84", "catalogue/76-84.html" %>
                  </li>
                  <li><span class="list-number">1.2.</span> Loeschcke type I B = Bailey type A gr ii, iii, iv
                    <ol type="a">
                      <li>Bailey type A group ii <%= link_to "cats. 85–86", "catalogue/85-86.html" %></li>
                      <li>Bailey type A group iii <%= link_to "cats. 87–117", "catalogue/87-117.html" %></li>
                      <li>Bailey type A group iv <%= link_to "cat. 118", "catalogue/118.html" %></li>
                    </ol>
                  </li>
                  <li><span class="list-number">1.3.</span> Loeschcke type I B/C cats.
                    <%= link_to "cats. 119–29", "catalogue/119-29.html" %>
                  </li>
                  <li><span class="list-number">1.4.</span> Loeschcke type I C
                    <%= link_to "cats. 130–42", "catalogue/130-42.html" %>
                  </li>
                </ol>
              </li>
              <li>Loeschcke type I vars. <%= link_to "143–46bis", "catalogue/143-46-bis.html" %></li>
              <li>Loeschcke type III <%= link_to "cats. 147–60", "catalogue/147-60.html" %></li>
              <li>Loeschcke type IV
                <ol type="a">
                  <li>Bailey type B group i, early vars. <%= link_to "cats. 161–65", "catalogue/161-65.html" %></li>
                  <li>Bailey type B group ii <%= link_to "cats. 166–207", "catalogue/166-207.html" %></li>
                  <li>Bailey type B group iii <%= link_to "cats. 208–23", "catalogue/208-23.html" %></li>
                  <li>Bailey type B group iv <%= link_to "cats. 224–38", "catalogue/224-38.html" %></li>
                  <li>Bailey type B group v, with handles <%= link_to "cats. 239–42", "catalogue/239-42.html" %></li>
                </ol>
              </li>
              <li>Loeschcke type V
                <ol type="a">
                  <li>Lamps without handle <%= link_to "cats. 243–47", "catalogue/243-47.html" %></li>
                  <li>Lamps with handle <%= link_to "cats. 248–65", "catalogue/248-65.html" %></li>
                </ol>
              </li>
              <li>Deneauve type IV E <%= link_to "cat. 266", "catalogue/266.html" %></li>
              <li>Deneauve type V E <%= link_to "cat. 267", "catalogue/267.html" %></li>
              <li>Deneauve type V F var. <%= link_to "cat. 268", "catalogue/268.html" %></li>
              <li>Deneauve type V G <%= link_to "cats. 269–71", "catalogue/269-71.html" %></li>
              <li>Deneauve type VI A <%= link_to "cat. 272", "catalogue/272.html" %></li>
              <li>Deneauve type VI B <%= link_to "cats. 273–74", "catalogue/273-74.html" %>
              <li>Bailey type F <%= link_to "cat. 275", "catalogue/275.html" %></li>
              <li>Loeschcke type VII var. and VI/VII var. <%= link_to "cats. 276–77", "catalogue/276-77.html" %></li>
              <li>Loeschcke type VIII
                <ol type="a">
                  <li>General remarks</li>
                  <li>Introductions to subtypes (1–19)</li>
                  <li>Catalogue
                    <ol type="I">
                      <li>Lamps with round-tipped nozzle
                        <ol type="1">
                          <li>Italic and African lamps
                            <ol type="a">
                              <li>Bussière form D I 3 <%= link_to "cats. 278–82", "catalogue/278-82.html" %></li>
                              <li>Bussière form D II 1 <%= link_to "cats. 283–302", "catalogue/283-302.html" %></li>
                              <li>Bussière form D II 2 <%= link_to "cats. 303–4", "catalogue/303-4.html" %></li>
                              <li>Bussière form D III 1 <%= link_to "cats. 305–6", "catalogue/305-6.html" %></li>
                              <li>Bussière form D III 2 <%= link_to "cats. 307–11", "catalogue/307-11.html" %></li>
                              <li>Bussière form D VII <%= link_to "cats. 312–14", "catalogue/312-14.html" %></li>
                              <li>Bussière form D X 1 <%= link_to "cats. 315–16", "catalogue/315-16.html" %></li>
                              <li>Bussière form D X 2 <%= link_to "cats. 317–22", "catalogue/317-22.html" %></li>
                            </ol>
                          </li>
                          <li>Eastern lamps
                            <ol type="a">
                              <li>Bussière form D I 1 <%= link_to "cat. 323", "catalogue/323.html" %></li>
                              <li>Bussière form D I 2 <%= link_to "cats. 324–25", "catalogue/324-25.html" %></li>
                              <li>Bussière form C II/D I 3 <%= link_to "cat. 326", "catalogue/326.html" %></li>
                              <li>Bussière form D I 3 <%= link_to "cats. 327–37", "catalogue/327-37.html" %></li>
                              <li>Bailey type O group vi <%= link_to "cat. 338", "catalogue/338.html" %></li>
                              <li>Bussière form D II 1 <%= link_to "cats. 339–43", "catalogue/339-43.html" %></li>
                              <li>Bussière form D III 1 <%= link_to "cats. 344–45", "catalogue/344-45.html" %></li>
                              <li>Bussière form D III 2 <%= link_to "cat. 346", "catalogue/346.html" %></li>
                              <li>Bussière form D IV <%= link_to "cat. 347", "catalogue/347.html" %></li>
                              <li>Bussière form D X 1 <%= link_to "cat. 348", "catalogue/348.html" %></li>
                              <li>Broneer type XXVII C and D
                                <%= link_to "cats. 349–54", "catalogue/349-54.html" %>
                              </li>
                              <li>Broneer type XXVIII <%= link_to "cats. 355–56", "catalogue/355-56.html" %></li>
                            </ol>
                          </li>
                        </ol>
                      </li>
                      <li>Lamps with heart-shaped nozzle
                        <ol type="1">
                          <li>Italic and African lamps
                            <ol type="a">
                              <li>Bussière form D IX <%= link_to "cats. 357–59", "catalogue/357-59.html" %></li>
                              <li>Bussière form D X 1, vars. a and c
                                <%= link_to "cats. 360–74", "catalogue/360-74.html" %>
                              </li>
                              <li>Bussière form D X 2, var. b
                                <%= link_to "cat. 375", "catalogue/375.html" %>
                              </li>
                              <li>Bussière form D X 4, vars. a and b
                                <%= link_to "cats. 376–88", "catalogue/376-88.html" %>
                              </li>
                              <li>Bussière form D X 5 <%= link_to "cats. 389–93", "catalogue/389-93.html" %></li>
                              <li>Bussière form D X 6 <%= link_to "cats. 394–95", "catalogue/394-95.html" %></li>
                              <li>Bussière form D X 10 <%= link_to "cats. 396–401", "catalogue/396-401.html" %></li>
                            </ol>
                          </li>
                          <li>Eastern lamps
                            <ol type="a">
                              <li>Bussière form D IX <%= link_to "cats. 402–17", "catalogue/402-17.html" %></li>
                              <li>Bussière form D X 1 <%= link_to "cats. 418–27", "catalogue/418-27.html" %></li>
                              <li>Bussière form D X 4, var. a <%= link_to "cat. 428", "catalogue/428.html" %></li>
                              <li>Bussière form D X 5 <%= link_to "cat. 429 ", "catalogue/429.html" %></li>
                              <li>Bussière form D X 6 <%= link_to "cats. 430–32", "catalogue/430-32.html" %></li>
                              <li>Bussière form D X 10 <%= link_to "cats. 433–34", "catalogue/433-34.html" %></li>
                            </ol>
                          </li>
                          <li>Single lamps, var. of Loeschcke VIII
                            <%= link_to "cats. 435–40", "catalogue/435-40.html" %>
                          </li>
                        </ol>
                      </li>
                    </ol>
                  </li>
                </ol>
              </li>
              <li>Loeschcke types IX and X (<em>Firmalampen</em>)
                <ol type="a">
                  <li>Buchi type IX-a = Loeschcke I-a <%= link_to "cat. 441", "catalogue/441.html" %></li>
                  <li>Buchi type IX-b = Loeschcke IX-b <%= link_to "cats. 442–48", "catalogue/442-48.html" %></li>
                  <li>Buchi type X-a = Loeschcke X <%= link_to "cats. 449–50", "catalogue/449-50.html" %></li>
                  <li>Buchi type X-b/c = Loeschcke X <%= link_to "cats. 451–54", "catalogue/451-54.html" %></li>
                  <li>
                    Buchi <em>tipo X forma corta =</em> Loeschcke X-<em>Kurzform</em>
                      <%= link_to "cats. 455–58", "catalogue/455-58.html" %>
                    <a href="#fn:1" class="footnote" id="fnref:1"><sup>1</sup></a>
                  </li>
                </ol>
              </li>
              <li>Loeschcke type XI (<em>achtförmige Lampen)</em>
                <%= link_to "cats. 459–60", "catalogue/459-60.html" %>
              </li>
              <li>Loeschcke type XIII (<em>Tiegellampe</em>) <%= link_to "cat. 461", "catalogue/461.html" %></li>
              <li>Loeschcke type XIV (<em>Tüllenlampe</em>) <%= link_to "cat. 462", "catalogue/462.html" %></li>
            </ol>
          </li>
        </ol>
      </li>
      <li>Types from North African Provinces only
        <ol type="a">
          <li>Deneauve type X A <%= link_to "cats. 463–71", "catalogue/463-71.html" %></li>
          <li>Near Deneauve type X B <%= link_to "cats. 472–473", "catalogue/472-73.html" %></li>
          <li>Bussière type E I 4 <%= link_to "cats. 474–76", "catalogue/474-76.html" %></li>
          <li>Ennabli (Raqqada) type 14 <%= link_to "cats. 477–81", "catalogue/477-81.html" %></li>
          <li>Ennabli (Raqqada) type 15 <%= link_to "cats. 482–84", "catalogue/482-84.html" %></li>
          <li>Ennabli (Raqqada) type 16 <%= link_to "cats. 485–86", "catalogue/485-86.html" %></li>
          <li>Atlante type VI (near) <%= link_to "cats. 487–89", "catalogue/487-89.html" %></li>
          <li>Atlante type VIII B <%= link_to "cats. 490–91", "catalogue/490-91.html" %></li>
          <li>Atlante type X; Hayes type II <%= link_to "cats. 492–500", "catalogue/492-500.html" %></li>
          <li>Atlante type X, vars. with funnel handle and one or two nozzles
            <%= link_to "cats. 501–2", "catalogue/501-2.html" %>
          </li>
          <li>Atlante type XI <%= link_to "cats. 503–4", "catalogue/503-4.html" %></li>
          <li>Atlante type XIII <%= link_to "cat. 505", "catalogue/505.html" %></li>
          <li>Atlante type XVI <%= link_to "cats. 506–7", "catalogue/506-7.html" %></li>
        </ol>
      </li>
      <li>Types from Eastern Provinces only
        <ol type="1">
          <li>Frog lamps <%= link_to "cats. 508–9", "catalogue/508-9.html" %></li>
          <li>Jug lamp <%= link_to "cat. 510", "catalogue/510.html" %></li>
          <li>"Daroma," or southern Judean, lamp <%= link_to "cat. 511", "catalogue/511.html" %></li>
          <li>Syro-Palestinian lamp related to Loeschcke type II <%= link_to "cat. 512", "catalogue/512.html" %></li>
          <li>Lamp with horseshoe discus and angular nozzle <%= link_to "cat. 513", "catalogue/513.html" %></li>
          <li>Lamp with heart-shaped discus and angular nozzle <%= link_to "cat. 514", "catalogue/514.html" %></li>
          <li>Loeschcke type V, or Deneauve type V F, eastern elongated var.
            <%= link_to "cats. 515–17", "catalogue/515-17.html" %>
          </li>
          <li>Lamp with delta-shaped body <%= link_to "cat. 518", "catalogue/518.html" %></li>
          <li>Lamp with square body, Bailey type I <%= link_to "cat. 519", "catalogue/519.html" %></li>
          <li>Lamp with hexagonal discus and plain body <%= link_to "cat. 520", "catalogue/520.html" %></li>
          <li>Lamp with hexagonal discus and ribbed body <%= link_to "cat. 521", "catalogue/521.html" %></li>
          <li>Loeschcke type VIII, eastern variants <%= link_to "cats. 522–23", "catalogue/522-23.html" %></li>
          <li>Late lamps of Asia Minor types <%= link_to "cats. 524–41", "catalogue/524-41.html" %></li>
          <li>Lamp of "Amorium" type <%= link_to "cat. 542", "catalogue/542.html" %></li>
          <li>Late Syrian lamps <%= link_to "cats. 543–47", "catalogue/543-47.html" %></li>
          <li>Late Palestinian circular lamps <%= link_to "cats. 548–49", "catalogue/548-49.html" %></li>
          <li>Early Islamic oval lamps<a href="#fn:2" class="footnote" id="fnref:2"><sup>2</sup></a>
            <%= link_to "cats. 550–51", "catalogue/550-51.html" %>
          </li>
        </ol>
      </li>
      <li>Miscellaneous Lamps from Asia Minor <%= link_to "cats. 552–57", "catalogue/552-57.html" %></li>
      <li>Multinozzled Lamps <%= link_to "cats. 558–68", "catalogue/558-68.html" %></li>
      <li>One-ring Suspension Lamps <%= link_to "cats. 569–72", "catalogue/569-72.html" %></li>
      <li>Ring-shaped, or Corona, Lamps <%= link_to "cats. 573–76", "catalogue/573-76.html" %></li>
      <li>Fragments of Clay Lamps
        <ol type="I">
          <li>Hellenistic fragments of “Ephesus” type lamps
            <%= link_to "cats. 577–78", "catalogue/577-78.html" %>
          </li>
          <li>Republican fragments (Dressel type 2) <%= link_to "cat. 579", "catalogue/579.html" %></li>
          <li>Roman Imperial fragments of various types <%= link_to "cats. 580–81", "catalogue/580-81.html" %></li>
        </ol>
      </li>
      <li>Terracotta Figurine Lamps
        <ol type="a">
          <li>Lampstands/incense-burners <%= link_to "cats. 582–85", "catalogue/582-85.html" %></li>
          <li>Plastic lamps <%= link_to "cats. 586–609", "catalogue/586-609.html" %></li>
        </ol>
      </li>
      <li>Terracotta Lanterns <%= link_to "cats. 610–11", "catalogue/610-11.html" %></li>
    </ol>
  </li>
  <li>Metal Lamps
    <ol type="A">
      <li>Gold Lamp <%= link_to "cat. 612", "catalogue/612.html" %></li>
      <li>Silver Lamp <%= link_to "cat. 613", "catalogue/613.html" %></li>
      <li>Bronze Lamps <%= link_to "cats. 614–30", "catalogue/614-30.html" %></li>
      <li>Lead Lamp <%= link_to "cat. 631", "catalogue/631.html" %></li>
    </ol>
  </li>
</ol>

<div class="footnotes" markdown="0">
  <ol type="1">
    <li id="fn:1">cat. 458 is a mold for the upper part of a <em>Firmalampe</em>.
      <a href="#fnref:1" class="reversefootnote">&#8617;</a>
    </li>
    <li id="fn:2">This type, represented in the Getty collection by two examples only, begins in the Byzantine period and extends beyond it. But it has nevertheless been kept within section iii, Roman-period lamps.
      <a href="#fnref:2" class="reversefootnote">&#8617;</a>
    </li>
  </ol>
</div>
