---
layout: entry
sort_order: 87
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "14": Loeschcke type VIII
 - c: Catalogue
 - I: Lamps with round-tipped nozzle
 - "1": Italic and African lamps
 - h: Bussière form D X 2
cat: [317, 318, 319, 320, 321, 322]
---

This form groups lamps with a decor of slanted rays on the shoulders, which seems to be exclusively African. The nozzle form can vary: on the seven Getty examples one finds forms Bus. 4f, 4f var., and 6. All lamps have Loeschcke shoulder form VIII b. Among the discus decors: two homoerotic scenes (cats. 317 and 318), three mythological scenes (Acheloüs, faun, Pegasus), and two animals (eagle, lion). Four bases are marked off by one circular groove, three have a base-ring. Four lamps lack a signature or a mark on their bases (cats. cats. 318, 320–22). Cat. 319 is signed <span class="inscription">LVCCE</span>/[——](?). <%= link_to "Cat. 375", "catalogue/375.html" %> is signed AVGVS/TIANI, an African workshop A.D. 175–225. Cat. 317 has the workshop signature <span class="inscription">EXOFICINA.C.V.S.</span> *on its discus,* which is most exceptional on first- and second-century lamps, but may occur, although rarely, on a few third-century examples. The same lamp also has a signature on its base: <span class="inscription">MMPAXIM</span>[—]. The workshop signature <span class="inscription">C.V.S.</span>, attested on cats. <%= link_to "315–16", "catalogue/315-16.html" %>, 317, appears on four lamps in Alaoui III, the catalogue of the former Bardo Museum in Tunis. The first of those lamps, published in Alaoui III (p. 202, cat. no. 1921) and by Merlin in *BCTH* 1911, p. CCXII, is most convincing about its African identity and the location of the workshop that signs <span class="inscription">C.V.S.</span>; this lamp, whose discus shows two busts (Isis and Serapis), is marked: <span class="inscription">EX OFICI/NA C.V.S./ABAQVAS/REGIAS</span>. It was found at <a href='../../map/#loc_324835'>El Djem</a> in central Tunisia, not far from the Roman city of <a href='../../map/#loc_324667'>Aquae Regiae</a>. A very similar lamp with the same discus decor and an identical signature has been found in <a href='../../map/#loc_8697603'>Raqqada</a>, not far from Aquae Regiae (Ennabli, Salomonson, and Mahjoubi 1973, no. 400, pl. 20). The second lamp in Alaoui III (p. 208, cat. no. 1972, also published by Merlin, *BCTH* 1916, p. CCXII, note 3) is signed <span class="inscription">EXOFFICI/NA C.V.S.</span> Found in <a href='../../map/#loc_8697598'>El Ajoua</a>, its discus shows the bust of Serapis alone with *modius* and scepter, as on Getty cats. <%= link_to "315–16", "catalogue/315-16.html" %>, <%= link_to "348", "catalogue/348.html" %>. The third lamp in Alaoui III (p. 208, cat. no. 1971; also published by Merlin in *Revue Tunisienne* 1915, p. 328, no. 94), is signed <span class="inscription">C.V.S.</span> alone, showing on the discus the same bust of Serapis with *modius* and scepter. The fourth one in Alaoui III (p. 236, cat. no. 2212) was found in <a href='../../map/#loc_8697598'>El Ajoua</a>. It is decorated with a bull, and its base bears a long inscription, partly illegible <span class="inscription">CVS/[––]VMI</span> [——]/[———], with the letters <span class="inscription">C.V.S.</span> clearly impressed. Because of their signatures, the African place of manufacture or origin of the seven Getty lamps of Bussière form D X 2 is fully confirmed.


(See also cat. <%= link_to "375", "catalogue/375.html" %>.)
