---
layout: entry
sort_order: 91
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "14": Loeschcke type VIII
 - c: Catalogue
 - I: Lamps with round-tipped nozzle
 - "2": Eastern lamps
 - d: Bussière form D I 3
cat: [327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337]
---

The main characteristic of D I 3 is the form of its nozzle, which is tangent to the lamp rim (nozzle form Bus. 3). Bailey type O group iii shows the same nozzle form and therefore corresponds to Bussière form D I 3, but the author points out that the five BM lamps all have a handle. Of nineteen Algerian examples in Bussière 2000, twelve do not have a handle, which is also the case with Getty <%= link_to "cat. 278", "catalogue/278-82.html" %>; the four other Algerian lamps in Bussière 2000 have a handle, as do <%= link_to "cats. 279–82", "catalogue/278-82.html" %> and cats. 329–32. The shoulder forms in this type vary a lot (Bussière 2000, p. 93). Among the Getty lamps we find Loeschcke shoulder forms VI a (2 ex.), VI b (3 ex.), VII a (1 ex.), VII b (5 ex.), VIII a (1 ex.), and four unrecorded variants. Three lamps have a plain discus; seven have a mythological motif; two a geometrical one; one an erotic scene; one a circus scene; one shows a dove on an olive branch; and one has a lion. There are five base-rings and eleven bases marked off by one circular groove. Bailey dates his type O group 3 from the middle of the first to the beginning of the second century A.D. A shipwreck at the <a href='../../map/#loc_265817'>Balearics</a> dated to A.D. 40–50 (Domergue 1966, pl. 6) has yielded lamps, all signed by <span class="inscription">CCLODV</span>[ivs], some of them of Bussière form D I 3. The form is present in Campania: two samples found in Herculaneum bear the signature <span class="inscription">PVF/PVF</span> in *planta pedis,* an Italic workshop active between the middle and the last quarter of the first century A.D. Another example, found in Pompeii, is signed <span class="inscription">LVC</span> in *planta pedis,* an Italic workshop active between A.D. 50 and 80, according to Pavolini (Pavolini 1980, table I). But those early lamps have a basin with a quite thin wall, which is not the case with the Getty examples. Six Algerian lamps bear signatures of workshops starting their activity around A.D. 80: <span class="inscription">OPPI</span> (starting even around A.D. 70), <span class="inscription">COPPIRES, L.MVNATVS, LMVNSVC</span> (Bussière 2000, p. 94). Only one lamp, <%= link_to "cat. 337", "catalogue/327-37.html" %>, bears a workshop mark of a plain *planta pedis.* Judging by their coarseness, several lamps—<%= link_to "cats. 279–82", "catalogue/278-82.html" %>—are certainly of a later date: second century.


(See also <%= link_to "cats. 278–82", "catalogue/278-82.html" %>.)
