---
layout: entry
sort_order: 93
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "14": Loeschcke type VIII
 - I: Lamps with round-tipped nozzle
 - "2": Eastern lamps
 - f: Bussière form D II 1
cat: [339, 340, 341,342, 343]
---

This is the standard form of Loeschcke type VIII: the short, rounded nozzle is separated from the discus by a straight horizontal line, flanked by two dots (Bus. 4a). All Getty lamps of Bussière form D II 1 conform to that feature, except three examples: <%= link_to "cat. 287", "catalogue/283-302.html" %>, on which the line is shown but the two dots are missing (Bus. 4d); and <%= link_to "cats. 299–300", "catalogue/283-302.html" %>, in which both line and dots are missing (Bus. 4e). All Getty lamps of Bussière form D II 1 have a pierced round handle with two grooves on the upper part. Their shoulder is either Loeschcke form VII a (20 ex.), VII b (4 ex.), or VI a (1 ex.). The discus decors vary: mythology (6 ex.): Diana, Dioscuri, Sol and Luna, Africa, Lares, and griffin; persons (8 ex.): portraits of Domitian, Hadrian, male head, bust of a young man, bust of a young woman, bust of a bearded old man, fisherman, and an aulete; animals (3 ex.): scorpion, boar, and lion with crocodile; entertainment (2 ex.): bust of a masked comic actor, and a grotesque on a boat; and varia (3 ex.): rosette, myrtle wreath, and garlanded amphora. Three lamps have a plain discus. Among the bases, only cat. 341 has a base-ring, all the others have a base marked off by one circular groove.

All but five lamps are signed. Seven signatures are from African workshops: <span class="inscription">MNOVIV, MNOVIVST, MNOVIVSTI, IVNIALEXI</span> (2 ex.), <span class="inscription">CCORVRS, EXFNA/LVCCEIORVM</span>; nine from Italic: <span class="inscription">CLOHEL, CLOHELI, FABRICMASC, QNVMICEL, CF.IS</span>(?) in *planta pedis,* <span class="inscription">COPPIRES</span> (2 ex.), <span class="inscription">LMVNPHILE, LMADIEC</span>, but the four last workshops most probably had branches in Africa; one (<%= link_to "cat. 301", "catalogue/283-302.html" %>), which reads <span class="inscription">SLMRMEVO</span>, is, according to Bailey, a nonsensical signature created by the modern Naples workshop specializing in reproductions or forgeries (see Bailey 1965, p. 95); finally, the signature of cat. 340 is of dubious reading: <span class="inscription">Q.M.[Q]</span>, a workshop unknown to us (the lamp was purchased in Asia Minor); the signature of <%= link_to "cat. 288", "catalogue/283-302.html" %> is illegible. The periods of activity of the workshops, mentioned above, are, with one exception, within the time span A.D. 80–180. The *floruit* of the standard form Bussière D II 1 was during the Late Flavian period and the first half of the second century. The exception mentioned concerns <%= link_to "cat. 302", "catalogue/283-302.html" %>, signed <span class="inscription">OFFICINA LVCCEIORVM</span>, an African workshop active A.D. 175–225. Consequently <%= link_to "cat. 302", "catalogue/283-302.html" %> was produced early in the activity of this workshop.

(See also <%= link_to "cats. 283–302", "catalogue/283-302.html" %>.)
