---
layout: entry
sort_order: 95
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "14": Loeschcke type VIII
 - c: Catalogue
 - I: Lamps with round-tipped nozzle
 - "2": Eastern lamps
 - h: Bussière form D III 2
cat: 346
---

The main characteristic of form D III is a shallow body, whose diameter is larger than the standard form D II 1 (hence the appellation *lampe galette,* pancake lamp). Three variants can be distinguished by the shape of the nozzle and the presence or absence of square lugs on the shoulder: D III 1 with nozzle Bus. 4h has no shoulder lugs; D III 2 with nozzle Bus. 4h has two shoulder lugs; D III 3 with nozzle close to Bus. 4g with a narrow channel has two shoulder lugs. Among the Getty lamps, only variants 1 and 2 are represented. The shoulders have Loeschcke form VII b except cats. <%= link_to "309", "catalogue/307-11.html" %> and <%= link_to "Cat. 344", "catalogue/344-45.html" %>, which have form VII a. Discus decors: mythology (4 ex.); amphitheater (3 ex.); erotic scene (1 ex.); person (1 ex.). Four lamps have a base-ring, the others a base marked off by one circular groove. One does not have a workshop mark. <%= link_to "Cat. 344", "catalogue/344-45.html" %> has a plain *planta pedis.* Seven lamps have a workshop signature in *tria nomina:* <span class="inscription">NNAELVCI</span> (cats. <%= link_to "305", "catalogue/307-11.html" %> and <%= link_to "Cat. 345", "catalogue/344-45.html" %>); <span class="inscription">MNOVIVST[I]</span> (<%= link_to "cat. 307", "catalogue/307-11.html" %>); <span class="inscription">LMVNPHILE</span> (cats. <%= link_to "310", "catalogue/307-11.html" %>, 346); <span class="inscription">MNOVGERM</span> (<%= link_to "cat. 309", "catalogue/307-11.html" %>); and <span class="inscription">CLOHEL</span> (<%= link_to "cat. 308", "catalogue/307-11.html" %>). The presence of at least three African workshops—<span class="inscription">MNOVIVST, MNOVGERM, LMVNPHILE</span>—confirms the production of the form in Africa, as Bailey surmises (BM II, p. 332). Bailey dates the form (his type P groups ii and iii) Late Flavian to Hadrianic. An examination of the time span of the seventeen workshops signing lamps of form Bussière D III found in Algeria permits us to push Bailey’s dating forward one or two decades: Late Flavian to Antonine (see Bussière 2000, p. 100, fig. 49, and comments).

(See also cats. <%= link_to "305–6", "catalogue/305-6.html" %>, <%= link_to "cats. 307–11", "catalogue/307-11.html" %>, and <%= link_to "cats. 345–46", "catalogue/345-46.html" %>.)
