---
layout: entry
sort_order: 100
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "14": Loeschcke type VIII
 - II: Lamps with heart-shaped nozzle
 - "1": Italic and African lamps
 - a: Bussière form D IX
cat: [357, 358, 359]
---

This form groups together lamps with a plain shoulder and a heart-shaped nozzle. In an early variant, D IX 1, the upper curves of the “heart” are nearly on a horizontal level: nozzle form Bus. 10a. This is the case for all the African and Italic examples in the Getty collection. In another variant, D IX 2, the curves are much more rounded: nozzle Bus. 10b. This is the case of practically all the Getty lamps of this type of eastern place of manufacture or origin, although we must admit that differences between variants 1 and 2 are less obvious on the eastern lamps than on the African or Italic ones.

The shoulder form of the lamps (irrespectively of African, Italic, or eastern place of manufacture or origin) varies a lot. Loeschcke shoulder form VI b is represented twice, in cats. <%= link_to "404", "../catalogue/402-17.html" %> and <%= link_to "410", "../catalogue/402-17.html" %>; form VII a is seen in cats. <%= link_to "409", "../catalogue/402-17.html" %> and <%= link_to "411", "../catalogue/402-17.html" %>; form VII b appears in <%= link_to "cat. 412", "../catalogue/402-17.html" %>; and form VIII b in cats. <%= link_to "403", "../catalogue/402-17.html" %> and <%= link_to "408", "../catalogue/402-17.html" %>.

Among the discus decors are: mythology (4 ex.), amphitheater (3 ex.), daily life (2 ex.), animals (5 ex.), and geometric pattern (1 ex.). Four lamps have a plain discus. Ten bases are marked off by one circular groove; seven by two closely placed circular grooves. Two lamps have a base-ring. Cat. 359 is signed <span class="inscription">AVFIFRON</span>, an African lampmaker active in the mid-second century. Ten eastern lamps have an incuse plain *planta pedis* on their base, a feature common among eastern lamps of the type, but exceptional among African lamps. The date of form D IX is Flavian to mid-second century for the D IX 1 variant; second century for the D IX 2 variant.

(See also <%= link_to "cats. 402–17", "../catalogue/402-17.html" %>.)
{:.see-also}
