---
layout: entry
sort_order: 105
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "14": Loeschcke type VIII
 - II: Lamps with heart-shaped nozzle
 - "1": Italic and African lamps
 - f: Bussière form D X 6
cat: [394, 395]
---

Form D X 6 comprises lamps characterized by a decor of rows of shoulder globules. <%= link_to "Cats. 430–32", "../catalogue/430-32.html" %> have shoulder forms absent in Loeschcke’s classification; cats. 394–95 have Loeschcke shoulder form VIII b; all have nozzle form Bus. 10b. The nozzle underside of cat. 394 is decorated with a row of small tongues between two twisted cords, that of cat. 395 with a striated band between two curved lines. Cats. <%= link_to "430", "../catalogue/430-32.html" %> and <%= link_to "432", "../catalogue/430-32.html" %> have a plain discus, <%= link_to "cat. 431", "../catalogue/430-32.html" %> a deer, and cats. 394–95 Mars.

One lamp has a base marked off by one groove, the four others have a base-ring. Lamps of form D X 6 have rounded or heart-shape nozzles (Bus. 4a or Bus. 10b). Those with nozzle form Bus. 4a are assigned to the second half of the second century, as confirmed by an example found in a tomb in <a href='../../map/#loc_295363'>Tipasa</a> necropolis *de la Porte de Césarée,* which ceased to be used around A.D. 180. On its discus (as an obol to Charon) lay a sestertius of Marcus Aurelius of A.D. 140–43. Those with nozzle form Bus. 10b were produced during the second half of the third century. The excavations by University of Michigan at <a href='../../map/#loc_314921'>Carthage</a> have yielded about fifteen frr. (identical to <a href='../../bibliography/#deneauve-1969'>Deneauve 1969</a>, no. 999); they derived from layer XIV, dated to the end of the fourth century A.D. Also at Carthage, a ceramic deposit dated approximately to the mid-fifth century A.D. has yielded a few more (<a href='../../bibliography/#neuru-1980'>Neuru 1980</a>, no. 198, pl. 2, L 1; see also <a href='../../bibliography/#rossiter-1988'>Rossiter 1988</a>, group 4, pl. 2).

Additional objects of this type: <%= link_to "cats. 430–32", "../catalogue/430-32.html" %>.
{:.see-also}
