---
layout: entry
sort_order: 106
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "14": Loeschcke type VIII
 - II: Lamps with heart-shaped nozzle
 - "1": Italic and African lamps
 - g: Bussière form D X 10
cat: [396, 397, 398, 399, 400, 401]
cover: 397
---

This group consists of Bussière D X 10 lamps of Loeschcke type VIII with various unusual shoulder decors, occurring either once or in very limited numbers. The shoulder of cat. 396 has vine tendrils, cat. 397 connected spirals, cat. 398 features garlands, cat. 399 two rows of dots, cat. 400 a molding, cat. 401 angular lines forming a row of plain triangles, <%= link_to "cat. 433", "../catalogue/433-34.html" %> small heart-shaped motifs, and <%= link_to "cat. 434", "../catalogue/433-34.html" %> rows of ornated triangles.

The nozzle shapes vary but most lamps have nozzle form Bus. 10b. The nozzle underside of cat. 398 is decorated with the already-mentioned motif consisting of a dotted band (see <%= link_to "Introduction 14", "../catalogue/loeschcke-type-viii-intro-14.html" %>).

The discus decors of cats. 396 and 398–99 are related to mythology, cat. 400 shows a quadriga, cat. 401 hares, <%= link_to "cat. 433", "../catalogue/433-34.html" %>  a rosette, <%= link_to "cat. 434", "../catalogue/433-34.html" %>  a centaur, and cat. 397 is plain.

Five lamps have a base-ring marked off by two circular grooves, two have a plain base-ring, one is a base marked off by one circular groove. There are three workshop marks: cat. 397 a plain *planta pedis,* cat. 400 possibly <span class="inscription">MISASIVS</span> or <span class="inscription">ANSASIVS</span>(?), cat. 401 <span class="inscription">Q V I N T V S I V S P I C T O R E T C E N E N S</span>.

The lamps grouped under D X 10 may have various shapes and do not form a coherent series. Therefore, they can be dated only individually, and due to that lack of dated comparanda, the chronology below is very approximate. <%= link_to "Cat. 433", "../catalogue/433-34.html" %> may be assigned to the end of Flavian to the Antonine period, cat. 397 to the second century A.D., 396 and 398 to a period from the end of the second to the beginning of the third century, cat. 401 to the end of the third century A.D.

Additional objects of this type: <%= link_to "cats. 433–34", "../catalogue/433-34.html" %>.
{:.see-also}
