---
layout: entry
sort_order: 112
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "14": Loeschcke type VIII
 - II: Lamps with heart-shaped nozzle
 - "2": Eastern lamps
 - f: Bussière form D X 10
cat: [433, 434]
---

This group consists of Bussière D X 10 lamps of Loeschcke type VIII with various unusual shoulder decors, occurring either once or in very limited numbers. The shoulder of <%= link_to "cat. 396", "catalogue/396-401.html" %> has vine tendrils, <%= link_to "cat. 397", "catalogue/396-401.html" %> connected spirals, <%= link_to "cat. 398", "catalogue/396-401.html" %> features garlands, <%= link_to "cat. 399", "catalogue/396-401.html" %> two rows of dots, <%= link_to "cat. 400", "catalogue/396-401.html" %> a molding, <%= link_to "cat. 401", "catalogue/396-401.html" %> angular lines forming a row of plain triangles, cat. 433 small heart-shaped motifs, and cat. 434 rows of ornated triangles.

The nozzle shapes vary but most lamps have nozzle form Bus. 10b. The nozzle underside of <%= link_to "cat. 398", "catalogue/396-401.html" %> is decorated with the already-mentioned motif consisting of a dotted band (see <%= link_to "Introduction 14", "catalogue/loeschcke-type-viii-intro-14.html" %>).

The discus decors of cats. <%= link_to "396", "catalogue/396-401.html" %> and <%= link_to "398–99", "catalogue/396-401.html" %> are related to mythology, <%= link_to "cat. 400", "catalogue/396-401.html" %> shows a quadriga, <%= link_to "cat. 401", "catalogue/396-401.html" %> hares, cat. 433 a rosette, cat. 434 a centaur, and <%= link_to "cat. 397", "catalogue/396-401.html" %> is plain.

Five lamps have a base-ring marked off by two circular grooves, two have a plain base-ring, one is a base marked off by one circular groove. There are three workshop marks: <%= link_to "cat. 397", "catalogue/396-401.html" %> a plain *planta pedis,* <%= link_to "cat. 400", "catalogue/396-401.html" %> possibly <span class="inscription">MISASIVS</span> or <span class="inscription">ANSASIVS</span>(?), <%= link_to "cat. 401", "catalogue/396-401.html" %> <span class="inscription">Q V I N T V S I V S P I C T O R E T C E N E N S</span>.

The lamps grouped under D X 10 may have various shapes and do not form a coherent series. Therefore, they can be dated only individually, and due to that lack of dated comparanda, the chronology below is very approximate. Cat. 433 may be assigned to the end of Flavian to the Antonine period, <%= link_to "cat. 397", "catalogue/396-401.html" %> to the second century A.D., cats. <%= link_to "396", "catalogue/396-401.html" %> and <%= link_to "398", "catalogue/396-401.html" %> to a period from the end of the second to the beginning of the third century, <%= link_to "cat. 401", "catalogue/396-401.html" %> to the end of the third century A.D.

(See also <%= link_to "cats. 396–401", "catalogue/396-401.html" %>.)
