---
layout: intro
file: loeschcke-type-viii-intro-14.md
sort_order: 74
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "14": Loeschcke type VIII
 - b: Introductions to subtypes (1–19)
 - Introduction 14: Bussière form D X 4
cat: [376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 428]
---

This form groups lamps characterized by their shoulder decor—a laurel wreath. This decor may be treated realistically (Bussière 2000, *groupe a style 1 figuratif*) or be stylized (Bussière 2000, *groupe b style 2 schématisé*). Both groups appear on lamps found in Italy (e.g., Bailey BM II, Q 1392–Q 1393 and Q 1409–Q 1413). The hypothesis that they might only be African imports is contradicted by the signature of <span class="inscription">L.CAESAE</span>, a prolific Italic lampmaker (Late Antonine and Early Severan); his products are scarce in North Africa.

Except for <%= link_to "cat. 378", "catalogue/376-88.html" %>, the remaining thirteen Getty examples all have shoulder form Loeschcke VII a and nozzle form Bus. 10b. The nozzle underside of some lamps is decorated with a typical motif consisting of a striated band, a notched band, or a band of tongues between two twisted cords or two curved lines (see cats. <%= link_to "381", "catalogue/376-88.html" %>, 3<%= link_to "383", "catalogue/376-88.html" %>, <%= link_to "385–88", "catalogue/376-88.html" %>). Discus decors: mythology (7 ex.); amphitheater (1 ex.); animal (1 ex.); daily scene (a warship and a man in front of an altar) (2 ex.); a central pierced boss (3 ex.).

Ten lamps have a regular base-ring marked off by two circular grooves; one is marked off by one groove only; two have a narrow base-ring; one several rings. Cats. <%= link_to "377", "catalogue/376-88.html" %> and <%= link_to "387", "catalogue/376-88.html" %> have ovo patterns within a circular band.

Cats. <%= link_to "378", "catalogue/376-88.html" %> and <%= link_to "384", "catalogue/376-88.html" %> are signed <span class="inscription">AVGENDI</span>, <%= link_to "cat. 379", "catalogue/376-88.html" %> is signed <span class="inscription">PVLLAENI</span>: both African workshops active A.D. 175–225. <%= link_to "Cat. 380", "catalogue/376-88.html" %> is signed on both sides of its basin <span class="inscription">EXOFICINA/RO[-]YTI</span>; this African atelier, otherwise unknown to us, was presumably operating in the first half of the third century. <%= link_to "Cat. 381", "catalogue/376-88.html" %> is signed <span class="inscription">EXOFICINA/KAPITO/NIS</span>, active in the first half of the third century. A comparative study of workshop signatures among 150 Algerian lamps, and of the periods of shop activity, points to a chronological difference between the two above-mentioned groups: group a (*figuratif*) is slightly earlier than group b (*schématisé*) (see Bussière 2000, pp. 109–10). Reliable data from stratigraphic excavations are so far lacking. Nevertheless, from the scarce solid information we possess, lamps of form D X 4 can be dated between the first quarter of the second century and the end of Severan times.
