---
layout: intro
file: loeschcke-type-viii-intro-12.md
sort_order: 72
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "14": Loeschcke type VIII
 - b: Introductions to subtypes (1–19)
 - Introduction 12: Bussière form D X 1
cat: [315, 316, 348, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427]
---
The group of form D X 1 lamps is characterized by ovolo decor on the shoulders. The shoulder forms seldom fall neatly into Loeschcke’s classification; the dominant form is a mixture of Loeschcke VII a and VIII b. The later examples of form D X 1 are bigger than the standard form D II 1. The African and Italic Getty lamps have nozzle form Bus. 4a and 4f, or, in the case of <%= link_to "cat. 373", "catalogue/360-74.html" %>, form Bus. 11. The eastern examples have form Bus. 10b, although, as already said in introduction 11, the difference between variants Bus. 10a and 10b is not always clear.

The nozzle underside of some lamps is decorated with a typical motif consisting of a band of tongues between two twisted lines: see <%= link_to "cats. 366–67", "catalogue/360-74.html" %>, <%= link_to "cat. 369", "catalogue/360-74.html" %>, and <%= link_to "cat. 373", "catalogue/360-74.html" %>. Discus decors: mythology (16 ex.); amphitheater (4 ex.); circus (1 ex.); animals (4 ex.); person (1 ex.); daily life (1 ex., two fishermen in a boat). One lamp has a plain discus. Eleven lamps have a base marked off by one circular groove, one with two circular grooves. Fourteen have a base-ring. This ring is often accompanied by an additional inner ring or circle, for instance, cats. <%= link_to "369", "catalogue/360-74.html" %> and <%= link_to "373", "catalogue/360-74.html" %>. Two examples have two and three rings.

Workshop signatures: <%= link_to "cats. 315–16", "catalogue/315-16.html" %>315–16, <span class="inscription">EXOFICI/NA.C.V.S.</span>, an African workshop active ca. A.D. 175–225; <%= link_to "cat. 362", "catalogue/360-74.html" %>, <span class="inscription">Q.NVMICEL</span>, an Italic workshop active from the end of the Flavian to the Hadrianic period; <%= link_to "cat. 364", "catalogue/360-74.html" %>, <span class="inscription">PVLLAENO/RV</span>, a well-known African workshop active from late Antonine to Severan; cats. <%= link_to "367", "catalogue/360-74.html" %> and <%= link_to "374", "catalogue/360-74.html" %> have three vertical stylized palm branches, a workshop mark often seen on African lamps of the second half of the second century A.D. Eastern lamps cats. <%= link_to "418–19", "catalogue/418-27.html" %>, <%= link_to "422", "catalogue/418-27.html" %>, and <%= link_to "424–27", "catalogue/418-27.html" %> have a plain *planta pedis.* Cats. <%= link_to "314", "catalogue/312-14.html" %> and <%= link_to "373", "catalogue/360-74.html" %> show an ovo motif on their base, which may be the mark of one or several African workshops. <%= link_to "Cat. 421's", "catalogue/418-27.html" %> base shows a leaf, which may also be the mark of one specific workshop.

Ovolo decoration on lamp shoulders existed already on Hellenistic lamps. On Roman lamps ovolos are seen, although rarely, on earlier types such as Loeschcke type I (<%= link_to "cat. 83", "catalogue/76-84.html" %>) or Loeschcke type V (<%= link_to "cat. 245", "catalogue/243-47.html" %>). On lamps of early Loeschcke type VIII, ovolos became a common decoration, as on Bailey type O groups i and ii, dated Claudian to Flavian, or group v dated Flavian to Trajanic. In those different groups the ovolos are small. Around the mid-second century A.D. the ovolos get bigger and longer, and they may take a rectangular shape and be impressed very close to one another (see Bailey BM II, type Q group vii, Q 1382, Q 1383, pl. 81). Hence the distinction made in Bussière form D X 1 between variants a and c (Bussière 2000, pp. 105–6).

The Getty lamps belonging to group a are assigned to the first half of the second century. Those belonging to group c—all African—are dated Late Antonine to Severan times. It is worth noting that the ten eastern examples all have practically the same small ovolos, which may at least indicate a unique geographical origin at the moment of their purchase, presumably Asia Minor. Missing any dated comparanda, we assign them to the second century, with a preference for the second half.
